.py-1{ padding: 1rem 0; }
.py-2{ padding: 1.3rem 0; }
.py-3{ padding: 1.5rem 0; }
.py-4{ padding: 2rem 0; }
.py-5{ padding: 3rem 0; }

.backs_block_foots{
	.inners{
		
		.tp_logo{
			img{
				display: block;
				margin: 0 auto; text-align: center;
			}
		}
	}

	.lists_def_blog_homes{
		.items{
			.picts{
				img{
					max-width: 373px;
					position: relative; z-index: 3;

					-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.35);
					-moz-box-shadow:    0px 0px 15px 0px rgba(0, 0, 0, 0.35);
					box-shadow:         0px 0px 15px 0px rgba(0, 0, 0, 0.35);
				}
				max-height: 373px;
			}
			.info{
				h5{
					font-size: 18px; font-weight: 700; color: #585858;
				}
				a{
					color: #585858;
				}
				a:hover,
				a:focus{
					text-decoration: none;
					color: #000;
				}
				p{
					text-decoration: none; margin: 0; margin-bottom: 0;
					display: block; line-height: 1.3;
					font-size: 16px; font-weight: 400; color: #585858;
				}
				padding: 1.5rem 0 1rem;
			}
		}
		margin-bottom: 2rem;
		clear: both;
	}

	.views_n_allblog{
		a.btns_def_surf{
			font-size: 18px; font-weight: 700; color: #214d7d;
			padding: 0.8rem 1.5rem;
			border: 2px solid #0099d9;
			border-radius: 10px;
		}
		a.btns_def_surf:hover,
		a.btns_def_surf:focus{
			text-decoration: none;
			color: #13375E;
		}
	}

	background-color: #fff;
	padding: 7.5rem 0;
	clear: both;
	border-bottom: 1px solid #cacaca;
}


@media screen and (max-width: 767px) {
	
	.backs_block_foots{
		padding: 5rem 0;
	}
	.lists_def_blog_homes{
		.items{
			margin-bottom: 1.2rem;
			.picts img{
				max-width: 100% !important;
			}
			.info h5{
				font-size: 15px;
			}
		}
	}

	.hides_mob{
		display: none;
	}

}