.boxsn_caption_slide p{
	font-size: 20px;
}

section.blocks_detail_activity.default_sc .insides img{
	box-shadow: none;
	-webkit-box-shadow: none;
}

section.default_sc.blocks_about_pg2.backs_new_about{
	background-image: url('../images/backs_about3_new.jpg');
}
section.default_sc.blocks_about_pg2.backs_new_about .content-text{}
section.default_sc.blocks_about_pg2.backs_new_about .content-text p strong,
section.default_sc.blocks_about_pg2.backs_new_about .content-text p b,
section.default_sc.blocks_about_pg2.backs_new_about .content-text p{
	color: #c2d7f4;
}
section.default_sc.blocks_about_pg2.backs_new_about .content-text p.text-white strong{
	color: #fff;
}

/*----------------- Responsive ---------------------*/
@media (min-width: 1650px){

}

@media screen and (max-width: 1280px), screen and (max-width: 1450px) {
	
	.outers-block-top-wrapfcs2{
		top: inherit;
		bottom: 50px;
	}
	.outers-block-top-wrapfcs2 .bloc_middlecn_home1 .texts h2, 
	.outers-block-top-wrapfcs2 .bloc_middlecn_home1 .texts h5{
		font-size: 28px;
	}
	.outers-block-top-wrapfcs2 .bloc_middlecn_home1 .texts p{
		font-size: 16px;
	}
	.top-menu ul li{
		padding: 0 5px;
	}
	.container.header_wcont{
		padding: 0 20px;
	}
	header.head .outers-back-header .top-menu ul li a{
		font-size: 12px;
	}

	header.head .outers-back-header .top-menu.padding-left-25{
		padding-left: 0;
	}
	header.head .outers-back-header .top-menu.padding-left-25 ul li{
		padding: 0 4px;
	}

}

@media (max-width: 1280px){

	.top-menu ul li a{
		font-size: 14px;
	}

}

@media (max-width: 1200px){
	
	.wrapper{ margin: 0px; }
	.top-menu ul li{ 
		padding: 0 5px;
	}
	.container.header_wcont{
		padding: 0 15px;
	}
	section.default_sc.blocks_accomodation_pack#home_c3 .insides p, 
	section.default_sc.blocks_accomodation_pack.inside_page .insides p, 
	section.default_sc.blocks_content#home_c1 .insides p{
		font-size: 22px;
	}
	section.default_sc.blocks_accomodation_pack.inside_page .insides {
		margin-top: 0;
	}
	section.default_sc.blocks_contact_middle1 .insides .banners_picture_contact .info h5{
		font-size: 19px;
	}
	section.default_sc.blocks_contact_middle1 .insides .banners_picture_contact .info p{
		font-size: 16px;
	}

}

/* Large desktop */
@media (max-width : 1170px){
	
	.container{
		width: 100%; border: none;
		padding: 0 15px;
		max-width: inherit;
		padding-left: 15px !important; padding-right: 15px !important;
	}
	footer.foot{
		padding-bottom: 0em;
	}
	header.head .outers-back-header .lgo_web_header_lg{
		margin: 0;
	}
	header.head .outers-back-header .rights_headr{
		display: none;
	}
	.top-menu ul li a{
		font-size: 13px;
	}
	.top-menu ul li{
		padding: 0 6px;
	}
	header.head .outers-back-header .top-menu{
		text-align: right;
		padding-left: 0; padding-top: 35px;
	}
	.blocks_pullHdr_rights{
		display: none;
	}

}

/*(max-width : 1024px) and*/
@media (max-width: 1200px){

}

@media (min-width : 1003px) {
	.headers-responss{ display: none; }	
	.hidden-headersetku{ display: block; }

	.owl-theme .owl-controls .owl-pagination{
		display: none !important;
	}
}

@media (max-width : 1002px) {
	
	.headers-responss{ 
		display: none;
		height: auto;
	}	
	.container{
		width: 100%;
		border: none;
		padding: 0 15px;
	}
	header.inside.head,
	header.head{
		/* overflow: hidden; */
		height: auto; background-color: #fff;
	}
	header.inside.head{
		/*padding-bottom: 5px;
		border-bottom: 2px solid #ddd;*/
	}
	section.default_sc.blocks_accomodation_pack#home_c3 .insides .lists_accomodation_package .items .info span.name{
		font-size: 15px;
	}
	section.default_sc.blocks_accomodation_pack#home_c3 .insides .lists_accomodation_package .items .info p{
		font-size: 16px;
	}
	section.default_sc.blocks_accomodation_pack#home_c3 .insides .lists_accomodation_package .items .info p b, 
	section.default_sc.blocks_accomodation_pack#home_c3 .insides .lists_accomodation_package .items .info p strong{
		font-size: 18px;
	}
	.lists_acomodations_icons_pack .items{
		padding-bottom: 2em;
	}
	section.default_sc.blocks_activities_nch#home_c4 .blocks_activity_sn .tops ul li{
		margin: 0 7px;
	}
	section.default_sc.blocks_activities_nch#home_c4 .blocks_activity_sn .tops ul li a{
		font-size: 16px;
	}
	.boxsn_caption_slide p{
		max-width: 76%; font-size: 21px;
	}
	footer.foot .t_info_footers{
		font-size: 13px;
	}
	section.default_sc.blocks_about_pg1 .insides .pictsn_banner, 
	section.default_sc.blocks_about_pg2 .insides .pictsn_banner{
		right: inherit;
		left: inherit;
	}
	section.default_sc.blocks_about_pg1 .insides .pictsn_banner img, 
	section.default_sc.blocks_about_pg2 .insides .pictsn_banner img{
		display: block; margin: 0 auto; padding: 0;
	}

	section.default_sc.blocks_about_pg1, 
	section.default_sc.blocks_about_pg2{
		background: none; background-color: transparent;
		background:#112f50 url(../images/about_backs_p2.jpg) bottom center repeat-x;
	}
	section.default_sc.blocks_about_pg2{
		background: none; background-color: transparent;
		background-color: #214d7d !important;
	}
	.maw450,
	.maw420{
		float: none; max-width: inherit; text-align: center;
	}
	.clear.h-155{
		height: 50px;
	}
	section.default_sc.blocks_activity_pg1{
		background-position: top center;
	}
	section.default_sc.blocks_activity_pg1 .insides .blocks_listn_activity .lists .lists_default_activity_data .items{
		width: auto; 
		height: auto;
		margin: 0 0.3em;
	}
	section.default_sc.blocks_about_pg1 .insides .tops h2, 
	section.default_sc.blocks_about_pg2 .insides .tops h2,
	section.default_sc.blocks_activity_pg1 .insides .tops h2{
		font-size: 30px;
	}
	section.default_sc.blocks_accomodation_pack.inside_page .insides{
		margin-top: 0;
	}
	section.default_sc.blocks_accomodation_pack.inside_page .insides .list_accomodation_default.packages .items .info p{
		font-size: 13px;
	}
	section.default_sc.blocks_accomodation_pack.inside_page .insides .list_accomodation_default.packages .items .info span{
		font-size: 17px;
	}
	section.default_sc.blocks_accomodation_pack.inside_page .insides .list_accomodation_default.packages .items .info span b,
	section.default_sc.blocks_accomodation_pack.inside_page .insides .list_accomodation_default.packages .items .info span strong{
		font-size: 18px;
	}
	section.default_sc.blocks_accomodation_pack.inside_page .insides .list_accomodation_default.packages .items .info .blocks_btns a.btn{
		width: auto;
		padding-left: 20px; padding-right: 20px;
		font-size: 15px; font-weight: 700; padding-top: 8px;
	}
	section.default_sc.blocks_accomodation_pack.inside_page .insides .list_accomodation_default.packages .items{
		padding: 30px 15px;
	}
	section.default_sc.blocks_accomodation_pack.inside_page .insides h3.s_title{
		font-size: 19px;
	}

}

@media (max-width: 992px) {
	

	header.head .navbar-default{
		margin-bottom: 0;
		border-radius: 0px;
	}
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
    header.head .navbar-default{
    	background-color: #fff;
    	border-color: transparent;
    	padding: 0px 0;
    	border-bottom: 1px solid #ccc;
    }
    header.head .navbar-default .container-fluid{
    	padding: 0 15px;
    }
    .navbar-default .navbar-brand{
		max-width: 130px;
		padding: 10px 0;
    	// padding-top: 10px;
    	// padding-bottom: 10px;
    	// padding-left: 15px;
    }
    .navbar-default .navbar-toggle{
    	border-color: transparent;
    	margin-right: 0;
    	border-radius: 0px;
    	margin-top: 14px; padding-right: 0;
    }
    .navbar-default .navbar-toggle:hover, 
    .navbar-default .navbar-toggle:focus {
	    background-color: rgba(204, 204, 204, 0);
	}
	.navbar-default .navbar-toggle .icon-bar {
	    background-color: #000;
	}
	.navbar-nav.navbar-right:last-child{
		margin-right: 0;
	}
	header.head .navbar-nav{}
	header.head .navbar-nav li{
		border-bottom: 1px solid #ccc;
	}
	header.head .navbar-nav li a{
		color: #000;
		font-size: 14px;
		font-weight: 500;
		text-decoration: none;
		text-transform: uppercase;
	}
	.navbar-default .navbar-nav > .active > a, 
	.navbar-default .navbar-nav > .active > a:hover, 
	.navbar-default .navbar-nav > .active > a:focus {
	    color: #000;
	    background-color: transparent;
	}
	header.head .navbar-nav li:hover > .dropdown-menu{
		display: block;
	}
	.navbar-nav > li > .dropdown-menu{
		display: none;
		position: relative;
		top: inherit;
		left: inherit;
		right: inherit;
		float: none;
		box-shadow: none;
		border: 0px;
		min-width: inherit;
		border-radius: 0px;
	}
	.navbar-nav > li > .dropdown-menu > li{
		border-top: 1px solid #ccc;
		border-bottom: 0;
		padding: 4px 0;
	}
	.navbar-nav > li > .dropdown-menu > li > a{
		color: #919191;
		font-size: 13px;
		font-weight: 500;
		text-decoration: none;
		text-transform: uppercase;
	}
	header.head .navbar-collapse{
		max-height: inherit; padding: 0;
	}
	body.inside_page .wrapper{
		// padding-top: 50px;
	}
	section.default_sc.blocks_about_pg1 .prelatife.container, section.default_sc.blocks_about_pg2 .prelatife.container{
		padding: 60px 0 70px;
	}
	section.default_sc.blocks_about_pg1 .insides p, section.default_sc.blocks_about_pg2 .insides p{
		font-size: 16px;
	}
	section.default_sc.blocks_about_pg1 .insides h3, section.default_sc.blocks_about_pg2 .insides h3{
		font-size: 23px;
	}
	
	header.head .navbar-default,
	header.head .visible-xs,
	.header.posfull-abs,
	header.homep.head,
	header.head{
		min-height: 69px;
	}
	header.head .outers-back-header{
		padding-top: 0;
	}

}

@media (max-width: 980px){
	
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
		
}
@media (max-width: 768px){
	
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	
	.slider-container.preserve-3d{
		display: none;
	}
	.headers-responss{
		display: block;
	}
	header.head .visible-xs,
	.header.posfull-abs,
	header.homep.head,
	header.head{
		position: relative;
		left: inherit; top: inherit;
		min-height: 69px;
	}
	
	footer [class*="col-md"]{
		/*margin: 15px auto;*/
	}
	header.head .navbar-collapse{
		padding: 0 15px;
	}
	.navbar-default .navbar-brand img{
		margin-left: -5px;
	}
	.outers-block-top-wrapfcs{
		position: relative;
		left: inherit; top: inherit; right: inherit; bottom: inherit;
		height: auto;
		background-color: #fff;
	}
	.outers-block-top-wrapfcs2{
		top: inherit;
		bottom: inherit;
		position: relative;
		left: inherit;
		width: auto;
		background-color: #214d7d;
		padding: 1.8em 15px;
	}
	.outers-block-top-wrapfcs2 .bloc_middlecn_home1 .texts h2{
		font-size: 17px;
	}
	.outers-block-top-wrapfcs2 .bloc_middlecn_home1 .texts p{
		font-size: 14px;
	}
	section.default_sc.blocks_content#home_c1 .insides p {
	    font-size: 19px;
	}
	section.default_sc.backns_center_homes#home_c2 .text p{
		font-size: 26px;
	}
	section.default_sc.blocks_accomodation_pack#home_c3 .insides, 
	section.default_sc.blocks_accomodation_pack.inside_page .insides{
		margin-top: 0;
	}
	section.default_sc.blocks_accomodation_pack#home_c3 .prelatife.container{
		padding-top: 0;
	}
	section.default_sc.blocks_accomodation_pack#home_c3 .insides .lists_acomodations_icons_pack .items .info span, 
	section.default_sc.blocks_accomodation_pack.inside_page .insides .lists_acomodations_icons_pack .items .info span{
		font-size: 16px;
	}
	section.default_sc.blocks_accomodation_pack#home_c3 .insides h3.s_title, 
	section.default_sc.blocks_accomodation_pack.inside_page .insides h3.s_title, 
	section.default_sc.blocks_content#home_c1 .insides h3.s_title{
		line-height: 1.2;
	}
	section.default_sc.blocks_activities_nch#home_c4 .insides p{
		font-size: 22px;
	}
	section.default_sc.blocks_activities_nch#home_c4 .blocks_activity_sn .tops ul li{
		display: block;
		margin-left: 0px; margin-right: 0;
		padding-bottom: 3px; margin-bottom: 8px;
	}

	.boxsn_caption_slide h3{
		font-size: 17px;
	}
	.boxsn_caption_slide p{
		font-size: 16px;
		max-width: inherit;
	}
	section.default_sc.block_comments_hm_bottom a.left.carousel-control,
	section.default_sc.block_comments_hm_bottom a.right.carousel-control{
		visibility: hidden;
	}
	.boxsn_caption_slide span.names{
		font-size: 18px;
	}

	footer.foot .lgo_footers img{ display: block; margin: 0 auto; padding: 0; }
	footer.foot .t_info_footers.text-right,
	footer.foot .text-right.footrsn_social_med{
		text-align: center;
	}
	footer.foot .t_info_footers.text-right{
		font-size: 11px;
	}
	footer.foot .t-copyrights{
		text-align: center;
	}
	section.default_sc.blocks_accomodation_pack#home_c3 .insides p, 
	section.default_sc.blocks_accomodation_pack.inside_page .insides p, 
	section.default_sc.blocks_content#home_c1 .insides p{
		font-size: 16px;
	}
	section.default_sc.blocks_accomodation_pack.inside_page .insides p strong {
		font-size: 19px;
	}
	section.default_sc.blocks_contact_middle1 .insides{
		margin-top: 0;
	}
	section.default_sc.blocks_about_pg1 .insides .tops h2, 
	section.default_sc.blocks_about_pg2 .insides .tops h2, 
	section.default_sc.blocks_activity_pg1 .insides .tops h2,
	section.default_sc.blocks_contact_middle1 .insides h2{
		font-size: 29px;
	}
	section.default_sc.blocks_contact_middle1 .insides .info_phones_email,
	section.default_sc.blocks_contact_middle1 .insides .info_phones_email a{
		font-size: 18px;
	}
	section.default_sc.blocks_contact_middle1 .insides .info_phones_email a{
		display: block;
	}
	span.hide_mobile{
		display: none;
	}
	section.default_sc.blocks_contact_middle1 .insides h3{
		font-size: 18px;
	}
	section.default_sc.blocks_contact_middle1 .insides .banners_picture_contact .pict{
		margin-bottom: 1.5em;
	}
	.box-form.tl-contact-form form .fright,
	.box-form.tl-contact-form form button.btns-submit-bt{
		float: none;
	}
	.box-form.tl-contact-form form button.btns-submit-bt{
		display: block; margin-top: 1em;
	}

	.float_mobile{
		position: fixed;
		bottom: 0px; left: 0px; width: 100%;
		z-index: 750; height: auto;
	}
	.box_info_call.float_mobile{
		min-height: 25px; height: auto;
		background-color: #fff;
	}
	.box_info_call.float_mobile .col-xs-6{
		border-right: 2px solid #ccc;
	}
	.box_info_call .txsp{
		padding: 10px 0;
	}
	.box_info_call .txsp a{
		display: block;
		text-align: center; line-height: 1.3;
	}
	.box_info_call .txsp a span,
	.box_info_call .txsp a i.fa{
		display: block;
	}

	.box_info_call .txsp a span{
		font-family: 'Rubik', sans-serif;
		padding-top: 6px;
		font-size: 14px; font-weight: 700; color: #1e2633;
	}
	.box_info_call .txsp a i.fa{
		font-size: 20px; color: #214d7d;
		line-height: 24px; height: 24px;
	}
	.box_info_call .txsp a i.fa.fa-mobile{
		font-size: 30px;
	}

	section.default_sc.blocks_accomodation_pack#home_c3 .insides p strong{
		font-size: 18px;
	}
	section.default_sc.blocks_accomodation_pack#home_c3 .insides .lists_acomodations_icons_pack .items .picture, 
	section.default_sc.blocks_accomodation_pack.inside_page .insides .lists_acomodations_icons_pack .items .picture{ 
		padding-bottom: 5px;
	}
	.lists_acomodations_icons_pack .items .info{
		height: auto;
	}
	footer.foot {
	    padding-bottom: 4em;
	}
	section.default_sc.blocks_about_pg3 .insides .lists_blc_facility_abouts .items{
		max-width: 75%; margin: 0 auto;
	}
	section.default_sc.blocks_about_pg3 .insides .lists_blc_facility_abouts .items .picture img{
		width: 100%;
	}
	section.default_sc.blocks_about_pg3 .insides .lists_blc_facility_abouts .items .names{
		font-size: 14px;
	}
	section.default_sc.blocks_about_pg3 .insides .lists_blc_facility_abouts .items .picture img{
		box-shadow: none;
	}
	section.default_sc.blocks_about_pg3 .insides .lists_blc_facility_abouts .items{
		margin-bottom: 1.2em;
	}
	section.default_sc.blocks_accomodation_pack.inside_page .insides .list_accomodation_default.packages .items .info ul li,
	section.default_sc.blocks_accomodation_pack.inside_page .insides .list_accomodation_default.packages .items .info p {
	    font-size: 12px; font-weight: 300;
	}
	section.default_sc.blocks_accomodation_pack.inside_page .insides .list_accomodation_default.packages .items .info ul li{
		padding: 1px 0;
	}
	section.default_sc.blocks_contact_middle1 .insides p{
		font-size: 14px;
	}
	section.default_sc.blocks_contact_middle1 .insides .info_phones_email, 
	section.default_sc.blocks_contact_middle1 .insides .info_phones_email a {
	    font-size: 16px;
	}
	section.default_sc.blocks_contact_middle1 .insides h3.sub_company{
		font-size: 20px;
	}
	section.blocks_contact_outset .insides .tops h2{
		font-size: 27px;
	}
	
	section.default_sc.blocks_accomodation_pack#home_c3 .prelatife.container, 
	section.default_sc.blocks_accomodation_pack.inside_page .prelatife.container, 
	section.default_sc.blocks_content#home_c1 .prelatife.container{
		padding-top: 50px;
	}
	.lists_acomodations_icons_pack .items {
	    padding-bottom: 1em;
	}
	.boxsn_caption_slide{
		padding: 3em 0;
	}
	section.default_sc.blocks_about_pg3{
		background: none; background-color: #fff;
	}
	section.default_sc.blocks_about_pg3 .prelatife.container{
		padding-top: 75px;
	}
	section.default_sc.blocks_activity_pg1 .insides .blocks_listn_activity .lists .lists_default_activity_data .items img{
		width: 100%;
	}
	section.blocks_detail_activity.default_sc .insides p a{
		font-size: 12px;
	}
	section.default_sc.blocks_content#home_c1 .insides h3.s_title {
	    font-size: 27px;
	}
	section.default_sc.blocks_accomodation_pack#home_c3 .insides p strong span,
	section.default_sc.blocks_accomodation_pack.inside_page .insides p strong span{
		display: block;
	}
	.headers-responss .carousel-indicators{
		bottom: 72px;
	}

	body .header.posfull-abs{
		position: absolute; z-index: 750;
	}
	body.inside_page .header.posfull-abs{
		position: relative;
	}
	#inside_page section.default_sc.block_comments_hm_bottom .boxsn_caption_slide h3, .accomodation_page#inside_page section.default_sc.block_comments_hm_bottom .boxsn_caption_slide h3{
		color: #fff;
	}
	#inside_page section.default_sc.block_comments_hm_bottom .boxsn_caption_slide p, #inside_page section.default_sc.block_comments_hm_bottom .boxsn_caption_slide span, .accomodation_page#inside_page section.default_sc.block_comments_hm_bottom .boxsn_caption_slide p, .accomodation_page#inside_page section.default_sc.block_comments_hm_bottom .boxsn_caption_slide span{
		color: #fff;
	}
	section.default_sc.blocks_accomodation_pack#home_c3 .insides p strong span,
	section.default_sc.blocks_accomodation_pack#home_c3 .insides p b span{
		color: #585858;
	}

}

/* Landscape phone to portrait tablet */
@media (max-width: 600px) {

}

/* Landscape phones and down */
@media (max-width: 480px) {

}

@media (max-width: 360px) {

}

@media (max-width: 358px) {

}