/*----------------------- IMPORT FONT ------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,400i,500,500i,600,600i,700,700i);
/*font-family: 'Fira Sans', sans-serif; */
@import url(https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i);
// font-family: 'Rubik', sans-serif;
@import url(https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i);
// font-family: 'Roboto', sans-serif;
@import url(https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i);
// font-family: 'Lato', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
// font-family: 'Permanent Marker', cursive;
@import url('https://fonts.googleapis.com/css?family=Passion+One:400,700,900');
// font-family: 'Passion One', cursive;

@roboto: 'Roboto', sans-serif;
@rubik: 'Rubik', sans-serif;
@lato:  'Lato', sans-serif;
@fira: 'Fira Sans', sans-serif;
@permanent: 'Permanent Marker', cursive;
@font_default: 'Fira Sans', 'Rubik', sans-serif;

/*---------------------------- GENERAL -------------------------*/
img{
    border: none;
}
img{
    border: none;
    user-drag: none; 
    -moz-user-select: none;
    -webkit-user-drag: none;
      
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

html,
body{
    height: 100%;
    width: 100%;
}
.h100per{
    height: 100%;
}
#pushstat{ display: none; }
body{
    background: transparent;
    margin: 0;
    padding: 0;
    
    font-family: @font_default;
    font-weight: 400;
    font-size: 17px;
    
    color: #949494;
    background: #fff;
}

a:focus{
    outline: none;
}
html, body, p, span, div, h1, h2, h3 ,h4 ,h5 ,h6, ul, li, ol, a, table, tr, td, th{
    font-family: @font_default; font-weight: 400;
}
.prelatif{
    position: relative;
}
.prelatife{
    position: relative;
}
body{
    /*test for not responsive*/
    /*min-width: 1180px;*/
    width: 100%;
    height: 100%;
}

.container {
    max-width: 1180px;
    /*test for not responsive*/
    /*min-width: 1180px;*/

    width: 1180px;
    margin: 0 auto;
    padding: 0px;
    /*height: 100%;*/
}
.container.header_wcont{
    max-width: inherit; width: auto; padding: 0 50px;
}

.center{
    text-align: center;
}
.tengah{
    margin: 0 auto;
    padding: 0px;
}
.row{
    margin: 0px;
}
[class*="span"] {
    margin: 0;
}
[class*="col-xs"]{
    padding: 0;
}
[class*="col-md"] {
    padding: 0;
}
[class*="col-lg"] {
    padding: 0;
}
.row.default{
    margin: 0 -15px;
}
.row.default [class*="span"],
.row.default [class*="col-xs"],
.row.default [class*="col-md"],
.row.default [class*="col-sm"],
.row.default [class*="col-lg"]
{
    padding: 0 15px;
}

#preloader {
    /*display: none;*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #dadbdb url(../images/bgloader.jpg) left top repeat-x;
    height: 100%;
    z-index: 1500;
}
#statusloader {
    text-align: center;
    margin: 0 auto;
    left: inherit;
    width: 100%;
    vertical-align: middle;

    height: 100px;
    position: absolute;
    top: 36%;
    background-image: url(../images/loading2.gif);
    background-repeat: no-repeat;
    background-position: center center;
}

.carousel-inner > .item.active.right,
.carousel-inner > .item.active.left {
    float: none !important;
}
.back-white{
  background-color: #fff;
}
.back-grey{
  background-color: #ccc;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}
.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/*--------------- Header Blocks ----------------*/
header.head{
    width: 100%;
    position: relative;
    z-index: 1500;

    // background-color: #f5f5f6;
    background:#fff url('../images/update/backs_heads_white.jpg') no-repeat;
    background-size: contain; background-position: top center;
    height: 111px;
    width: 100%;

    .outers-back-header{ 
        // padding-top: 44px;
        position: relative;
        .tops_flsn_blue{
            position: absolute; top: 0px; left: 0px; width: 100%;
            padding-top: 7px;
            .blocks_whitetag{
                position: relative; z-index: 60;
                display: block;
                text-align: center;
                font-size: 14px; font-weight: 700; color: #fff; text-transform: uppercase;
                font-family: @rubik;
            }
        }
        padding-top: 10px;
        background-color: transparent;
        .lgo_web_header_lg{ 
            padding: 0; margin: 0;
            // margin-left: -11px;
            // margin-top: -10px;
            position: relative;
            z-index: 80;
            max-width: 178px;
            a{
                display: inline-block;
            }
        }
        .top-menu{
            padding-top: 50px;
            text-align: center;
            ul{
                text-align: center;
                li{
                    text-align: center;
                    padding: 0 11.5px;
                    a{
                        font-family: @rubik;
                        font-size: 15px; font-weight: 500; color: #214d7d;
                    }
                }
            }
        }

        .rights_headr{
            max-width: inherit;
            .txsp{
                padding-top: 11px;
                a{
                    i.fa{
                        display: block;
                        color: #214d7d; font-size: 35px;
                        height: 35px;
                    }
                    span{
                        display: block; font-family: @rubik; padding-top: 5px; margin: 0;
                        font-size: 15px; font-weight: 500; color: #1e2633;
                    }
                    i.fa.fa-paper-plane{
                        font-size: 28px;
                    }
                    display: block;
                    text-align: center;
                }
                a:hover,
                a:focus{
                    text-decoration: none;
                }
            }
        }
    }
}
// inside page header
.inside_page{
    .header.posfull-abs{
        position: relative; top: inherit; left: inherit; right: inherit;
        z-index: 5; margin-top: 0;
    }
}
header.inside.head{
    // overflow: hidden;
}
.outers_cont_inside_page{
    position: relative;
    z-index: 2;
}

.v-top{
    vertical-align: top;
}
.d-inline{
    display: inline-block;
    vertical-align: top;
}

.lines-grey{
    height: 1px;
    background-color: #cccccc;
}
.dblock{
    display: block;
}
.table_out{
    width: 100%; height: 100%;
    position: absolute; left: 0px; top: 0px;
    display: table;
    vertical-align: middle; text-align: center;
    .table_in{
        width: 100%; height: 100%;
        display: table-cell;
        vertical-align: middle; text-align: center;
    }
}
.top-menu{ 
    display: block;
}
.top-menu ul{ margin: 0; padding: 0px; display: inline-block; }
.top-menu ul li{ margin: 0px; padding: 0px; /*padding: 0 9px;*/ padding: 0px 14px; }
.top-menu ul li:last-child{ padding-right: 0px; }
.top-menu ul li a{ text-align: center; font-family: @rubik; font-size: 14px; font-weight: 500; color: #1e2633; display: inline-block; text-transform: uppercase; }
.top-menu ul li.active a,
.top-menu ul li a:hover,
.top-menu ul li a:focus{ 
    color: #000; text-decoration: none;
}
.top-menu ul li.popups a:hover,
.top-menu ul li.popups a:focus,
.top-menu ul li.popups a{ color: #0099d9; }
.h100per{
    height: 100%;
}
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.posfull-abs.inside{
    position: relative;
    top: inherit; left: inherit;
}

.posfull-abs{
    position: absolute;
    width: 100%;
    top: 0px; left: 0px;
    z-index: 250;
}
.header.posfull-abs{
    z-index: 100;
}
.outers-block-top-wrapfcs2{
    position: absolute;
    left: 0px;
    // top: 30%;
    top: inherit; 
    // bottom: 60px;
    bottom: 0px;
    padding-bottom: 4%;

    width: 100%; height: auto;

    background-color: transparent;
    background: url('../images/update/backs_bottom_shadw_fcs.png') no-repeat;
    z-index: 15;
    overflow: hidden;
    .bloc_middlecn_home1{
        max-width: 913px; text-align: center;
        margin: 0 auto;
        .texts{
            h2,
            h5{ display: block;
                margin: 0; padding: 0; line-height: 1.2;
                font-family: @rubik;
                font-size: 22px; font-weight: 700; color: #fff;
                margin-bottom: 0px;
            }
            p{
                margin: 0; padding: 0; line-height: 1.3;
                font-size: 18px; font-weight: 400; color: #fff;
            }
        }
    }
    clear: both;
}
.flex-control-nav{
    z-index: 25 !important;
}

a.btns_customs_blue,
a.btns_greendefaults{
    display: inline-block;
    box-shadow: none;
    // border-radius: 0px;
    background: none; background-color: transparent;
    border: 0px;

    width: auto;
    height: 33px;

    background-color: #4da391;
    padding: 7px 24px;
    text-align: center;
    // height: auto;
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
}

a.btns_customs_blue:hover,
a.btns_customs_blue:focus,
a.btns_greendefaults:hover,
a.btns_greendefaults:focus{
    text-decoration: none;
    background-color: #1EA286;
    color: #fff;
}

.blocks_pullHdr_rights{
    position: fixed;
    top: 155px;
    right: -20px;
    z-index: 5000;
    a.btns_shipstrip_hdr {
        background: url(../images/backsn_plenr_rights_schedule.png) no-repeat;
        width: 164px;
        height: 192px;
        border: 0;
        box-shadow: none;
    }
}

section.default_sc{
    min-height: 400px; 
    height: auto;
    position: relative;
    width: 100%;
    background-color: #fff;
    .container.prelatife{
        padding-top: 8%;
        padding-bottom: 8%;
    }
}
section.default_sc.blocks_accomodation_pack.inside_page,
section.default_sc.blocks_accomodation_pack#home_c3,
section.default_sc.blocks_content#home_c1{
    min-height: 400px;
    width: 100%;
    // background:url(../images/backs_blockns_home1.jpg) bottom center no-repeat, url(../images/backs_blockns_home1_top.jpg) top center repeat-y;
    // background-size: 100% auto;
    background: url('../images/update/backs_section_home1.jpg') no-repeat;
    background-position: bottom center;
    background-size: cover;
    .prelatife.container{
        padding-top: 110px;
    }
    .insides{
        h3.s_title{
            display: block; margin: 0; padding: 0;
            font-size: 22px; font-weight: 700; color: #fff; text-transform: uppercase; line-height: 1;
            margin-bottom: 23px;
        }
        h3.s_title.blue{
            color: #214d7d;
            font-weight: 700;
        }
        p{
            display: block; margin: 0; padding: 0;
            max-width: 1015px; margin: 0 auto;
            font-size: 19px; font-weight: 300; color: #fff; line-height: 1.4;
            margin-bottom: 45px;
        }
        .bottoms{
            p{
                font-size: 18px; font-weight: 400; color: #fff;
                a{
                    color: #fff; font-weight: 700; text-decoration: underline;
                }
                a:hover, a:focus{
                    color: #000; text-decoration: none;
                }
            }
        }

        .banners_picture_home1{
            max-width: 764px;
            position: relative; z-index: 10;
            margin: 0 auto;
            -webkit-box-shadow: 4px 4px 24px 0px rgba(50, 50, 50, 0.55);
            -moz-box-shadow:    4px 4px 24px 0px rgba(50, 50, 50, 0.55);
            box-shadow:         4px 4px 24px 0px rgba(50, 50, 50, 0.55);
            a{
                img{ position: relative; z-index: 3; }
                span.play_video{
                    position: absolute; top: 0px; left: 0px; z-index: 5;
                    background: url(../images/bck_icon-playVideo.png) center center no-repeat;
                    width: 100%; height: 100%;
                }
            }
        }
        clear: both;
    }
}
section.default_sc.backns_center_homes#home_c2{
    background: url(../images/backs_blockns_home2.jpg) no-repeat;
    background-size: cover; width: 100%;
    height: 358px;
    clear: both;
    .text{
        p, span{
            display: block; margin: 0; padding: 0;
        }
        p{
            font-size: 29px; font-weight: 400; font-style: italic; color: #177ae5; line-height: 1.3;
            margin-bottom: 30px;
        }
        span.name{
            font-size: 15px; font-weight: 400; color: #e3e5e6; text-transform: uppercase;
        }
        clear: both;
    }
}
 
section.default_sc.blocks_accomodation_pack#home_c3{
    .insides{
        p{
            color: #585858 !important;
            strong, b{
                color: #585858 !important;
                span{
                    color: #585858 !important;
                }
            }
        }
    }
}

section.default_sc.blocks_accomodation_pack.inside_page,
section.default_sc.blocks_accomodation_pack#home_c3{
    background: none; background-color: #fff;
    position: relative; z-index: 1;
    .back_shadow{
        background: url(../images/backs_shadow_df_home.jpg) repeat-x;
        width: 100%; height: 41px;

        position: absolute; bottom: 0px; left: 0px; z-index: 10;
    }
    .prelatife.container{
        padding-top: 110px; padding-bottom: 80px;
    }
    .insides{
        margin-top: -250px;
        p{
            font-size: 22px; font-weight: 300; color: #fff; line-height: 1.6;
            b,strong{
                font-weight: 700; font-size: 24px; color: #fff;
                span{
                    font-weight: 700; font-size: 24px; color: #fff;
                }
            }
        }

        .lists_accomodation_package{
            .items{
                -webkit-box-shadow: 4px 4px 24px 0px rgba(50, 50, 50, 0.55);
                -moz-box-shadow:    4px 4px 24px 0px rgba(50, 50, 50, 0.55);
                box-shadow:         4px 4px 24px 0px rgba(50, 50, 50, 0.55);
                background-color: #f0f1f1;
                margin-bottom: 40px;
                .picture{
                    img{}
                }
                .info{
                    height: 123px; padding-top: 25px;
                    background: url('../images/update/backs_btmtitles_tress_pur.png');
                    width: 100%; background-size: cover;
                    span,p{
                        display: block; margin: 0; padding: 0;
                    }
                    span.name{
                        font-family: @permanent;
                        font-size: 30px; font-weight: 700; color: #00314e; text-transform: uppercase; margin-bottom: 7px; line-height: 1;
                    }
                    a:focus,
                    a:hover{
                        text-decoration: none;
                        span.name{
                        text-decoration: none;
                        }
                    }
                    p{
                        font-size: 19px; font-weight: 300; color: #262626;
                        b,strong{ font-size: 24px; font-weight: 700; }
                    }
                }
            }
        }

        .lists_acomodations_icons_pack{
            margin-bottom: 0;
            .items{
                .picture{
                    img{}
                    padding-bottom: 30px;
                }
                .info{
                    span{
                        display: block; text-align: center;
                        font-size: 20px; font-weight: 300; color: #161616; line-height: 1.3;
                    }
                }
            }
        }
        clear: both;
    }
}

.lists_acomodations_icons_pack.inside{
    margin-bottom: 0;
    .items{
        .picture{
            img{}
            padding-bottom: 30px;
        }
        .info{
            span{
                display: block; text-align: center;
                font-size: 20px; font-weight: 300; color: #fff !important; line-height: 1.3;
            }
        }
    }
}

section.default_sc.blocks_activities_nch#home_c4{
    background-color: #112f50;
    min-height: 400px; height: auto; width: 100%;
    .prelatife.container{
        padding-top: 75px;
        padding-bottom: 0px;
    }
    .insides{
        h3.s_title{
            display: block; margin: 0; padding: 0;
            font-family: 'Passion One', cursive;
            font-size: 28px; font-weight: 700; color: #fff; text-transform: uppercase; line-height: 1;
            margin-bottom: 23px;
        }
        p{
            display: block; margin: 0; padding: 0;
            max-width: 1010px; margin: 0 auto;
            font-size: 20px; font-weight: 300; color: #fff; line-height: 1.4;
            margin-bottom: 47px;
        }
        clear: both;
    }

    .blocks_activity_sn{
        .tops{ text-align: center;
            ul{
                margin: 0; padding: 0; list-style: none;
                li{
                    display: inline-block; padding: 0;
                    margin: 0 25px;
                    a{
                        font-size: 18px; font-weight: 700; color: #fff; text-transform: uppercase;
                    }
                    padding-bottom: 10px;
                    border-bottom: 5px solid transparent;
                }
                li.active,
                li:focus,
                li:hover{
                    a{ text-decoration: none; color: #0099d9; }
                    border-bottom: 5px solid #0099d9;
                }
            }
        }
        .middles{
            .carousel.slide_picture{
                position: relative;
                .prelatife.container{ padding: 0; }
                .carousel-caption{
                    box-shadow: none; background: none; border: 0px;
                    position: relative; bottom: inherit; left: inherit; margin: 0; padding: 0;
                    text-shadow: none; z-index: 10;
                }
                clear: both;
            }
        }
        clear: both;
    }

    clear: both;
}
.boxsn_caption_slide{
    background-color: #112f50;
    padding: 75px 0 56px;
    h3, p, span{
        display: block; margin: 0; padding: 0;
        font-family: @roboto;
    }
    h3{
        font-size: 20px; font-weight: 700; color: #fff; text-transform: uppercase;
        line-height: 1.3; margin-bottom: 35px;
    }
    p{
        max-width: 800px; margin: 0 auto;
        font-size: 26px; font-weight: 300; color: #94b5d8;
        line-height: 1.3; margin-bottom: 40px;
    }
    span.names{
        font-size: 20px; font-weight: 700; font-style: italic; color: #94b5d8;
        line-height: 1;
    }
    clear: both;
}

section.default_sc.block_comments_hm_bottom{
    background: none; box-shadow: none;
    .prelatife.container{
        padding-top: 0; padding-bottom: 0;
    }
    .carousel-inner{
        overflow: inherit;
    }
    a.carousel-control{
        background: none; background-color: transparent; box-shadow: none;
        position: absolute;
        bottom: 150px; top: inherit; opacity: 0.7;
        z-index: 15;
    }
    a.carousel-control:hover,
    a.carousel-control:focus{
        opacity: 1;
    }
    a.left.carousel-control{
        width: 26px; height: 49px; box-shadow: none;
        background: url(../images/chevron-left.png) no-repeat;
    }
    a.right.carousel-control{
        width: 26px; height: 49px; box-shadow: none;
        background: url(../images/chevron-right.png) no-repeat;   
    }
    min-height: 418px;
    background-color: #112f50;
    clear: both;
}
.accomodation_page#inside_page,
#inside_page{
    section.default_sc.block_comments_hm_bottom{
            background-color: #e1d9cc;
        .boxsn_caption_slide{
            background-color: #e1d9cc;
            h3{
                color: #214d7d;
            }
            p{ color: #737373; }
            span{
                color: #737373;
            }
        }
        a.left.carousel-control{
            background: url(../images/chevron-left_inside.png) no-repeat;
        }
        a.right.carousel-control{
            background: url(../images/chevron-right_inside.png) no-repeat;
        }
    }
}
.accomodation_page#inside_page{
    section.default_sc.block_comments_hm_bottom{
            background-color: #112f50;
        .boxsn_caption_slide{
            background-color: #112f50;
            h3{
                color: #fff;
            }
            p{ color: #94b5d8; }
            span{
                color: #94b5d8;
            }
        }
        a.left.carousel-control{
            background: url(../images/chevron-left.png) no-repeat;
        }
        a.right.carousel-control{
            background: url(../images/chevron-right.png) no-repeat;
        }
    }
}

footer.foot{
    position: relative;
    background-color: #fff;
    min-height: 100px;
    height: auto;
    z-index: 1;
    padding-top: 20px;
    
    .lgo_footers{
        display: block;
    }
    .t_info_footers{
        font-size: 15px; font-weight: 300; color: #4a4a4a;
        p{
            font-size: 12px; font-weight: 400; color: #000;
        }
    }

    .footrsn_social_med{
        padding-top: 20px; padding-bottom: 12px;
        a{
            i.fa{
                font-size: 28px; color: #737373;
            }
            text-decoration: none;
        }
        a.fancy_popups{
            font-family: @rubik;
            font-size: 15px; font-weight: 500; color: #0099d9;
        }
        a:hover,
        a:focus{
            text-decoration: none;
            a{ text-decoration: none; i.fa{ color: #575757; } }
        }
    }

    .t-copyrights{
        font-size: 11px; font-weight: 400; color: #848484;
        letter-spacing: 0px;
        a{
            font-size: 11px; font-weight: 400; color: #848484;  
        }
        a:hover,
        a:focus{
            text-decoration: none;
             color: #717171;
        }
    }
    .blocks_footergreen{
        background-color: #010205;
        height: auto;
        padding: 13px 0;
        color: #fff;
    }
}

.insides_toppage_blocks{
    margin: 0;
    height: 367px;
    overflow: hidden;
    position: relative;
    .blocks_bottom_intop_page{
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center top;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        position: relative;
        width: 100%;
        min-height: 367px;
        padding-bottom: 5%;
        padding-top: 130px;
        .insides{
            h2.title_page{
                margin: 0; padding: 0;
                text-align: center; position: relative;
                font-family: @rubik; margin-bottom: 20px;
                font-size: 19px; font-weight: 700; color: #fff; line-height: 1; text-transform: capitalize;
            }
            p{
                margin: 0; padding: 0; text-align: center; font-family: @rubik;
                font-size: 24px; font-weight: 300; color: #fff; line-height: 1.4;
            }
        }
        
    }
}
.insides_toppage_blocks{
    .blocks_bottom_intop_page.pg_about{
        background-image: url(../images/ill_insidep_about.jpg);
    }
}

section.insides_pg_contents_about1#content_p_about1{
    background-color: #fff;
    .top_greys_sub{
        background-color: #eaeaea;
        height: 40px; text-align: center;
        padding-top: 15px;
        h5.s_title{
            display: block;
            margin: 0; padding: 0; line-height: 0.9;
            font-family: @rubik; font-size: 12px; font-weight: 400; color: #393939; text-transform: uppercase; letter-spacing: 1px;
        }
    }
    .container.prelatife{
        padding-top: 70px;
        padding-bottom: 90px;
    }
}
// ------------------  inside page  -----------------------

section.default_sc.blocks_about_pg2,
section.default_sc.blocks_about_pg1{
    width: 100%;
    min-height: 920px; height: auto;
    background:#fff url(../images/update/backs_top_about_cn1.jpg) bottom center no-repeat;
    background-size: cover;
    .prelatife.container{
        padding-top: 120px;
        padding-bottom: 110px;
    }
    .insides{
        h2,h3, p{ margin: 0; padding: 0; display: block; }
        .tops{
            h2{
                font-family: @rubik;
                font-size: 35px; font-weight: 700; color: #fff; line-height: 1;
                margin-bottom: 18px;
            }
            p{
                font-family: @fira; font-size: 18px; font-weight: 400; color: #fff; line-height: 1.4;
            }
        }
        h3{
            font-size: 27px; font-weight: 700; color: #fff; text-transform: uppercase;
            margin-bottom: 20px;
        }
        p{
            font-family: @fira; font-size: 20px; font-weight: 300; color: #a5c2eb; line-height: 1.3; margin-bottom: 25px;
            a, b,strong{
                font-weight: 700; color: #a5c2eb; text-decoration: none;
            }
            a{
                text-decoration: underline;
            }
            a:hover, a:focus{ text-decoration: none; }
        }
        .pictsn_banner{
            position: relative; right: -85px;
            img{}
        }
        clear: both;
    }
    clear: both;
}
.maw715{
    max-width: 715px;
}
.h-155{
    height: 155px;
}
.maw420{
    max-width: 420px;
}
.maw450{
    max-width: 450px;
}
section.default_sc.blocks_about_pg2{
    background:transparent url(../images/update/backs_top_about_cn2.jpg) bottom center no-repeat;
    background-size: cover; min-height: 820px;
     .prelatife.container{
        padding-top: 130px;
        padding-bottom: 110px;
    }
    .insides{
         .pictsn_banner{
            position: relative; left: -100px;
            img{}
        }
        .h70{
            height: 70px;
        }
    }
}
section.default_sc.blocks_detail_activity{
    background-color: #051b42;
}

section.default_sc.blocks_about_pg3{
    background:transparent url(../images/about_pic_bottoms_n3.jpg) bottom center no-repeat;
    background-size: cover; min-height: 1685px;
     .prelatife.container{
        padding-top: 125px;
        padding-bottom: 0px;
    }
    .insides{
        h3.sub_title{
            display: block; margin: 0; padding: 0;
            font-size: 27px; font-weight: 700; color: #214d7d; text-transform: uppercase;
            margin-bottom: 20px;
        }
        .lists_blc_facility_abouts{
            .row.default{
                margin: 0 -5px;
                .col-sm-4.col-md-15{
                    padding: 0 5px;
                }
            }
            .items{
                margin-bottom: 2.5em;
                .picture{
                    img{
                        position: relative; z-index: 2;
                        -webkit-box-shadow: 1px 1px 27px 0px rgba(50, 50, 50, 0.38);
                        -moz-box-shadow:    1px 1px 27px 0px rgba(50, 50, 50, 0.38);
                        box-shadow:         1px 1px 27px 0px rgba(50, 50, 50, 0.38);
                    }
                }
                .names{
                    position: absolute; bottom: 10px; width: 100%; z-index: 30;
                    text-align: center;
                    font-family: @fira; font-size: 20px; font-weight: 700; color: #fff;
                }
            }
            clear: both;
        }

        clear: both;
    }
}

section.default_sc.blocks_activity_pg1{
    min-height: 1050px; height: auto; width: 100%;
    background:#dcf7fe url(../images/backs_mid_activities_n1.jpg) top right no-repeat;
    .prelatife.container{
        padding-top: 120px; padding-bottom: 100px;
    }
    .insides{
        h2,h3, p{ margin: 0; padding: 0; display: block; }
        .tops{
            h2{
                font-family: @rubik;
                font-size: 35px; font-weight: 700; color: #214d7d; line-height: 1;
                margin-bottom: 18px;
            }
            p{
                font-family: @fira; font-size: 18px; font-weight: 400; color: #262626; line-height: 1.4;
            }
        }

        .blocks_listn_activity{
            .lists{
                h4.titles{
                    display: block; text-align: center;
                    margin: 0; padding: 0;
                    font-family: @rubik;
                    font-size: 18px; font-weight: 700; color: #214d7d; text-transform: uppercase;
                    padding-bottom: 30px;
                }

                .lists_default_activity_data{
                    .items{
                        width: 282px;
                        height: 235px;
                        background-color: #fff;
                        -webkit-box-shadow: 2px 2px 9px 0px rgba(50, 50, 50, 0.5);
                        -moz-box-shadow:    2px 2px 9px 0px rgba(50, 50, 50, 0.5);
                        box-shadow:         2px 2px 9px 0px rgba(50, 50, 50, 0.5);
                        .picture{
                            img{}
                        }
                        .info{
                            padding: 16px 15px;
                            span{
                                display: block; margin: 0; padding: 0; line-height: 1;
                                font-family: @rubik; text-transform: uppercase;
                                font-size: 14px; font-weight: 700; color: #1e2633;
                            }
                            a:hover,
                            a:focus{
                                text-decoration: none; color: #000;
                            }
                            a{ display: inline-block; }
                            a.btns_more_act{
                                display: inline-block; float: right; margin-top: 5px;
                                width: 20px; height: 10px;
                                background: url(../images/arrow_light_grey_nl.png) no-repeat;
                            }
                        }
                    }
                }

                clear: both;
                padding-bottom: 20px;
            }
            clear: both;
        }

        clear: both;
    }
}
.maw760{
    max-width: 760px;
}

section.blocks_detail_activity.default_sc{
    .prelatife.container{
        padding-top: 115px; padding-bottom: 100px;
    }
    .insides{

        p, h2,h4{ display: block; margin: 0; padding: 0; }
        h4{
            font-size: 18px; font-weight: 700; color: #214d7d; line-height: 1; padding-bottom: 10px; text-transform: uppercase;
        }
        h2{
            font-family: @permanent;
            font-size: 34px; font-weight: 700; color: #fff; line-height: 1.1;
            padding-bottom: 25px;
        }
        p{
            font-size: 14px; font-weight: 400; color: #fff;
            a{
                font-family: @rubik;
                font-size: 15px; font-weight: 700; color: #fff; text-transform: uppercase; text-decoration: none;
            }
            max-width: 990px; margin: 0 auto;
            margin-bottom: 22px;
        }
        img{
            -webkit-box-shadow: 1px 1px 27px 0px rgba(50, 50, 50, 0.38);
            -moz-box-shadow:    1px 1px 27px 0px rgba(50, 50, 50, 0.38);
            box-shadow:         1px 1px 27px 0px rgba(50, 50, 50, 0.38);
        }

        .vies_link_others_article{
            a{
                font-family: @rubik;
                font-size: 18px; font-weight: 700; color: #fff; text-decoration: none;
            }
            a:hover,
            a:focus{
                text-decoration: none;
                color: #fff;
            }
        }
        clear: both;
    }
}

section.default_sc.blocks_accomodation_pack.inside_page{
    background-color: #04173d;
    .prelatife.container{
        padding-top: 0;
    }
    .insides{
        .list_accomodation_default.packages{
            margin-bottom: 30px;
            .items{
                // background-color: #f1f2f2;
                background: #f1f2f2 url('../images/update/backs_item_accomdat.jpg') no-repeat;
                background-size: cover;
                padding: 30px 27px;
                margin-bottom: 18px;
                -webkit-box-shadow: 4px 4px 24px 0px rgba(50, 50, 50, 0.5);
                -moz-box-shadow:    4px 4px 24px 0px rgba(50, 50, 50, 0.5);
                box-shadow:         4px 4px 24px 0px rgba(50, 50, 50, 0.5);
                .pict{
                    img{}
                }
                .info{
                    padding: 20px 0 0;
                    h4, p, span{ display: block; margin: 0; padding: 0; }
                    h4{
                        font-family: @permanent;
                        font-size: 30px; font-weight: 700; color: #214d7d; text-transform: uppercase; line-height: 1;
                        padding-bottom: 12px;
                    }
                    span{
                        font-size: 20px; font-weight: 300; color: #262626; line-height: 1.3;
                        b,strong{ font-weight: 700; color: #262626; }
                    }
                    p.n_top{
                        font-weight: 700;
                    }
                    p{
                        padding: 30px 0;
                        font-size: 15px; font-weight: 300; color: #262626; line-height: 1.4;
                        padding-bottom: 4px;
                    }
                    ul{
                        margin: 0; padding: 0; list-style: none;
                        padding-bottom: 30px;
                        li{
                            padding: 2px 0;
                            font-size: 15px; font-weight: 300; color: #262626;
                        }
                    }
                    .blocks_btns{
                        a.btn{
                            display: inline-block;
                            width: 183px; height: 39px;
                            border-radius: 0px;
                            background-color: #214d7d;
                            padding: 6px 0;
                            font-size: 18px; font-weight: 700; color: #fff;
                            font-family: @rubik; text-transform: uppercase;
                        }
                        a.btn:hover,
                        a.btn:focus{
                            background-color: #13477F; color: #fff; text-decoration: none;
                        }
                    }
                }
                clear: both;
            }
        }

        clear: both;
    }
}

section.default_sc.blocks_contact_middle1{
    background:#15385e url(../images/update/backs_illns_contact_1_inner.jpg) bottom center repeat-x;
    width: 100%;
    min-height: 750px; height: auto;
    .prelatife.container{
        padding-top: 0; padding-bottom: 90px;
    }
    .insides{
        margin-top: -110px;
        h3, h2, p{
            display: block; margin: 0; padding: 0;
        }
        h2{
            font-size: 35px; font-weight: 700; color: #fff; text-transform: uppercase; line-height: 1; margin-bottom: 20px;
        }
        p{
            font-size: 18px; font-weight: 400; color: #fff; line-height: 1.4; margin-bottom: 20px;
        }
        .info_phones_email{
            font-size: 22px; font-weight: 700; color: #fff; text-decoration: none;
            a{
                font-size: 22px; font-weight: 700; color: #fff; text-decoration: none;
                i.fa{
                    color: #0099d9; font-size: 20px;
                }
            }
            a:hover,
            a:focus{
                text-decoration: none; color: #000;
            }
            margin-bottom: 15px;
        }

        p.locations{
            font-size: 15px; font-weight: 600; color: #fff; text-transform: uppercase; letter-spacing: 1px;
            a{
              font-size: 15px; font-weight: 600; color: #fff; text-transform: uppercase; letter-spacing: 1px;
              text-decoration: none;
            }
            i.fa{
                color: #0099d9; font-size: 30px;
            }
        }
        h3{
            font-size: 27px; font-weight: 700; color: #fff; line-height: 1.2;
            text-transform: uppercase; margin-bottom: 40px;
        }
        h3.sub_company{
            font-size: 23px; text-transform: inherit;
            color: #fff;
        }
        .banners_picture_contact{
            .pict{
                position: relative; z-index: 3;
                -webkit-box-shadow: 1px 1px 27px 0px rgba(50, 50, 50, 0.38);
                -moz-box-shadow:    1px 1px 27px 0px rgba(50, 50, 50, 0.38);
                box-shadow:         1px 1px 27px 0px rgba(50, 50, 50, 0.38);
                img{}
            }
            .info{
                position: absolute; bottom: 20px; left: 0px; width: 100%;
                h5, p{ display: block; margin: 0; padding: 0; }
                h5{
                    font-family: @rubik;
                    font-size: 27px; font-weight: 700; color: #fff; text-transform: uppercase; line-height: 1.1;
                    padding-bottom: 8px;
                }
                p{
                    font-size: 18px; font-weight: 700; color: #fff; line-height: 1;
                }
            }
        }

        clear: both;
    }
}
.maw650{
    max-width: 800px; 
}

section.blocks_contact_outset{
    .prelatife.container{ padding: 100px 0; }
    .insides{
        .tops{
            padding-bottom: 60px;
            h2,p{
                margin: 0; padding: 0; display: block;
            }
            h2{
                font-size: 35px; font-weight: 700; color: #214d7d; line-height: 1;
                padding-bottom: 15px;
            }
            p{
                font-size: 18px; font-weight: 400; color: #262626; line-height: 1;
            }
        }
    }
}

.owl-theme .owl-controls{
    .owl-buttons{
        position: absolute;
        bottom: 0px; z-index: 75; width: 100%;
        .owl-prev{
            margin: 0; padding: 0;
            left: -50px;
            bottom: 90px; position: absolute;
            opacity: 0.9;
            display: inline-block;
            content: "";
            border-radius: 0px; background: none;

            background: url(../images/chevron-left_inside.png) no-repeat;
            width: 26px; height: 49px;

            text-indent: -9999px;
        }
        .owl-next{
            margin: 0; padding: 0;
            right: -50px;
            bottom: 90px; position: absolute;
            display: inline-block;
            content: "";
            opacity: 0.9;
            border-radius: 0px; background: none;

            background: url(../images/chevron-right_inside.png) no-repeat;
            width: 26px; height: 49px;

            text-indent: -9999px;
        }
    }
}
.owl-theme .owl-controls .owl-page span{
    background: #5b5f5d !important;
}


/*----------------------- Midle Text Content -----------------*/
.content-text{
    font-family: @rubik; font-size: 17px; font-weight: 300; color: #323131;
}
.content-text h1,
.content-text h2,
.content-text h3,
.content-text h4,
.content-text h5{ font-family: @rubik; margin: 0; padding: 0; margin-bottom: 23px; color: #3f3f3f; }

.content-text h1{ font-size: 68px; font-weight: 400; color: #3f3f3f; }
.content-text h2{  }
.content-text h3{ font-family: @rubik; font-size: 29px; font-weight: 700; color: #1b8a54; line-height: normal; }
.content-text h6,
.content-text h4{ margin: 0px; font-family: @rubik; font-size: 30px; font-weight: 300; color: #3f3f3f; line-height: normal; }
.content-text h5{}
.content-text h2.title_page{
    font-size: 29px;
    font-weight: 700;
    color: #c61d23;
    margin: 0; margin-bottom: 25px;
}
.content-text h6{
    font-size: 22px; font-weight: 300; color: #107a49;
    line-height: 1.4;
    margin-bottom: 23px;
}

.content-text span{
    margin: 0; padding: 0; display: inline-block;
    margin-bottom: 23px;
    font-size: 22px; font-weight: 300; color: #107a49;
    line-height: 1.4;
}
.content-text p{
    margin: 0; padding: 0;
    margin-bottom: 23px;
    font-size: 17px; font-weight: 300; color: #323131;
    line-height: 1.4;
}
.content-text p a{
    text-decoration: none;
    font-weight: 300;
    color: #000;
}

.box-form.tl-contact-form{
    max-width: 700px;
    margin: 0 auto;
    background-color: transparent;
    p{
        margin: 0; padding: 0;
        font-size: 18px; font-weight: 400; color: #000;
        margin-bottom: 20px; line-height: 1.1;
    }
    form{
        // max-width: 1055px;
    margin: 0 auto; 
    text-align: left;
    .dates_block{
        .form-group{
            width: 47%; float: left; margin-right: 15px;
            margin-bottom: 0;
            input[type=text]{
                background: url(../images/icons_calendar.png) right center no-repeat;
            }
        }
        .form-group:nth-child(2){
            margin-right: 0;
        }
    }
      .form-group{ 
        margin-bottom: 28px;
        label.exampleInputMessage,
        label.exampleInputName{
            display: block;
            font-family: @lato;
            font-size: 19px; font-weight: 300; color: #232733;
            margin-bottom: 0px; text-align: left;
        }

        input[type=text]{
          border:0px;
          font-family: @fira;
          background: none; 
          background-color: #fff;
          border-radius: 0px;
          text-shadow:none; box-shadow: none;
          font-size: 14px;  text-align: left;
          font-weight: 300; color: #000;
          // max-width: 300px;
          border-bottom: 1px solid #b9b9b9;
          height: 35px;
          width: 100%;
        }
        textarea{
            margin: 0;
            background: none;
            background-color: #fff;
            border: 0px;
            box-shadow: none;
            border-radius: 0px;
            border: 1px solid #b9b9b9;
            text-align: left;

            font-family: @fira;
            font-size: 14px; 
            font-weight: 300; color: #000;
        }
      }

      button.btns-submit-bt{
        background: none; border:0px; border-radius: 0px; box-shadow: none; padding:0;

        background: url(../images/backs_btn_submit_contc_form.png) no-repeat;
        width: 131px; height: 33px;
        min-width: inherit; letter-spacing: 0px;
      }

      button.btns-submit-bt:hover{
        opacity: 0.9;
      }
    }

    .mb15{
        margin-bottom: 15px !important;
    }
    ::-webkit-input-placeholder {
       color: #636368;
    }

    :-moz-placeholder { /* Firefox 18- */
       color: #636368;  
    }

    ::-moz-placeholder {  /* Firefox 19+ */
       color: #636368;  
    }

    :-ms-input-placeholder {  
       color: #636368;  
    }
  }



.customsModal{
      .modal-content{
        background-color: transparent; box-shadow: none; border: 0px;
      }
      .ins_bodyModals{
        // padding: 5px 10px;
        padding: 0;
        h6{
          margin: 0; padding: 0; font-weight: 700; padding-bottom: 10px;
          font-size: 12px; letter-spacing: 1px; text-transform: uppercase; color: #000;
        }
        p{
          margin: 0; padding: 0; font-weight: 600;
          font-size: 15px; color: #000; line-height: 1.3;
          margin-bottom: 20px; 
        }
        clear: both;
      }
    }
    .modal {
      text-align: center;
      padding: 0!important;
    }

    .modal:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -4px;
    }

    .modal-dialog {
      display: inline-block;
      text-align: left;
      vertical-align: middle;
    }

img.pc-center{
    margin: 0 auto;
    display: block;
    text-align: center;
}

.bt-viewon-top{
    position: absolute;
    bottom: -35px; right: 0px;
    z-index: 100;

    position: fixed;
    bottom: 150px;
    right: 15px;
    background-color: rgba(255,255,255,0.9);
}
.bt-viewon-top a{
    width: auto;
    height: auto;
    background-color: transparent;
    border: 2px solid #ddd;
    display: block;
    padding: 0.7em;
}
.bt-viewon-top a i.fa{
    color: rgba(87, 87, 87, 0.7);
    font-size: 20px;
}
.bt-viewon-top a:hover i.fa{ color: rgba(87, 87, 87, 0.99); }

.header-affixs.affix-top{ top: -1000px; position: fixed; visibility: collapse; }
.header-affixs.affix{ top: 0px; left: 0px; }
.header-affixs{
    background: #fff;
    background-color: #fff;
    width: 100%;
    z-index: 1000;
    height: 75px;
    border-bottom: 3px solid #0099d9;
    z-index: 1000;

    .rights_headr{
        max-width: inherit;
        .txsp{
            padding-top: 5px;
            position: relative; top: -20px;
            a{
                i.fa{
                    display: block;
                    color: #214d7d; font-size: 35px;
                    height: 35px;
                }
                span{
                    display: block; font-family: @rubik; padding-top: 5px; margin: 0;
                    font-size: 13px; font-weight: 500; color: #1e2633;
                }
                i.fa.fa-paper-plane{
                    font-size: 18px;
                    position: relative;
                    top: 9px;
                }
                display: block;
                text-align: center;
            }
            a:hover,
            a:focus{
                text-decoration: none;
            }
        }
    }
}
.menu-taffix{
    padding-top: 5px;
}
.menu-taffix ul{ margin: 0; padding: 0px; }
.menu-taffix ul li{ padding: 0px; padding: 0 5px; }
.menu-taffix ul li a{ 
    font-family: Rubik,sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #1e2633; text-transform: uppercase;
    text-decoration: none; 
}
.menu-taffix ul li.active a,
.menu-taffix ul li a:hover{ text-decoration: none; color: #393A3C; }



/*---------------  custom carousel ---------------*/
.headers-responss{
    .carousel-indicators{
        left: inherit; right: inherit;
        width: 100%;
        text-align: center;
        bottom: 5px; margin-left: 0;
        li{
            border: 0px;
            margin: 0 2px;
            width: 12px; height: 12px;
            background-color: transparent;
            background: url(../images/toc-fcs.png) no-repeat;
            box-shadow: none;
            background-size: cover;
        }
        li:hover,
        li.active{
            margin: 0 2px; border: 0px;
            background-color: transparent;
            width: 12px; height: 12px;
            background-color: transparent;
            background: url(../images/toc-fcs-active.png) no-repeat;
            background-size: cover;
        }
    }
}

/*---------------  custom flexslider ---------------*/
.flexslider {
      margin-bottom: 10px;
    }

    .flex-control-nav {
        display: block !important;
        position: absolute;
        bottom: 10px;
        left: 0px; 
        top: inherit;
        right: inherit;
        padding-top: 150px;
        padding-right: 10px;
        z-index: 1000;
        text-align: center;
        margin-left: 0; z-index: 15;
        width: 100%;
    }
    .flex-control-paging li a:hover,
    .flex-control-paging li a.flex-active{
        background-color: transparent;
        width: 15px; height: 15px;
        background-color: transparent;
        background: url(../images/toc-fcs-active.png) no-repeat;
    }
    .flex-control-paging li{
        margin: 4px 4px;
        display: inline-block;
    }
    .flex-control-paging li a{
        width: 15px; height: 15px;
        background-color: transparent;
        background: url(../images/toc-fcs.png) no-repeat;
        box-shadow: none;
    }

    .custom-navigation {
      display: table;
      width: 100%;
      table-layout: fixed;
    }

    .custom-navigation > * {
      display: table-cell;
    }

    .custom-navigation > a {
      width: 50px;
    }

    .custom-navigation .flex-next {
      text-align: right;
    }
    .slider{
      margin: 0px !important;
    }
    div.main-slide {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: auto;
    }
    ul.slides li div.main-slide{
        // cursor: pointer;
    }
    ul.slides li div.main-slide.no_cursor{
        cursor: default;
    }
    .slider,
    .flexslider,
    ul.slides,
    ul.slides li,
    .full-widths{ height: 100%; }
    .flexslider{ margin: 0px; }
    .flex-direction-nav .flex-next{
        right: 0px;
        opacity: 0;
    }
    .flex-direction-nav .flex-prev{
        left: 0px;
        opacity: 0;
    }
    .flexslider{
      border: 0px;
    }
    .flex-direction-nav a{ display: none !important; }

.carousel.fade {
    opacity: 1;
}
.carousel.fade .item {
    -moz-transition: opacity ease-in-out .7s;
    -o-transition: opacity ease-in-out .7s;
    -webkit-transition: opacity ease-in-out .7s;
    transition: opacity ease-in-out .7s;
    left: 0 !important;
    opacity: 0;
    top:0;
    position:absolute;
    width: 100%;
    display:block !important;
    z-index:1;
}
.carousel.fade .item:first-child {
    top:auto;
    position:relative;
}
.carousel.fade .item.active {
    opacity: 1;
    -moz-transition: opacity ease-in-out .7s;
    -o-transition: opacity ease-in-out .7s;
    -webkit-transition: opacity ease-in-out .7s;
    transition: opacity ease-in-out .7s;
    z-index:2;
}

// -------------------- Back Top --------------------
#back-top {
    color: #FFF;
    background: none repeat scroll 0% 0% #FFF;
    font-size: 20px;
    line-height: 100%;
    display: inline-block;
    position: fixed;
    z-index: 500;
    right: 0px;
    bottom: 0px;
    width: 35px;
    height: 35px;
    text-align: center;
    top: inherit !important;
    border: 1px solid #c5c5c5;
    border-right: 0; border-bottom: 0;

    display: none;
}
#back-top i.fa {
    color: #565656;
}

.flexslider ul.slides{
    margin: 0px !important;
}
.pl-0{
    padding-left: 0 !important;
}

.customs_modalPopup{
    .modal-dialog{
        width: 770;
        .modal-body{
            padding: 30px 30px 25px;
        }
    }
    .ins_modal{
        text-align: center;
        .picts{
            padding-right: 2em;
            img{
                -webkit-box-shadow: 2px 2px 6px 0px rgba(50, 50, 50, 0.18);
                -moz-box-shadow:    2px 2px 6px 0px rgba(50, 50, 50, 0.18);
                box-shadow:         2px 2px 6px 0px rgba(50, 50, 50, 0.18);
            }
        }
        p,
        span{
            text-transform: uppercase;
            margin-bottom: 10px;
            display: block;
            font-size: 18px; font-weight: 400; color: #000;
        }
        p{
            line-height: 1.5; margin-bottom: 15px; text-transform: inherit;
            font-size: 16px;
            b,strong{ font-size: 18px; }
        }
        .pictures{
            img{
                -webkit-box-shadow: 2px 2px 6px 0px rgba(50, 50, 50, 0.18);
                -moz-box-shadow:    2px 2px 6px 0px rgba(50, 50, 50, 0.18);
                box-shadow:         2px 2px 6px 0px rgba(50, 50, 50, 0.18);
                width: 100%;
            }
        }
        form{
            text-align: left;
            .form-group{
                label{
                    font-size: 14px; font-weight: 700; color: #000;
                    font-family: @fira; text-align: left;
                }
                input{
                    width: 252px; height: 26px;
                    border: 1px solid #e5e5e5; border-radius: 0px;
                    box-shadow: none;
                }
                textarea{
                    width: 100%; height: 55px;
                    border: 1px solid #e5e5e5; border-radius: 0px;
                    box-shadow: none;
                }
            }
            button{
                box-shadow: none; border-radius: 0px;
                background-color: #214d7d;
                font-family: @rubik;
                font-size: 16px; font-weight: 700; color: #fff; text-transform: uppercase;
                text-transform: uppercase; letter-spacing: 0px;
                border: 0px;
            }
            button:hover,
            button:focus{
                opacity: 0.9;
            }
        }
        clear: both;
    }
    clear: both;
}

@import 'bottom_blog.less';