<section class="default_sc block_comments_hm_bottom text-center">
		<div class="prelatife container">
			<div id="carousel_btm_comment" class="carousel fade" data-ride="carousel">
				  <div class="carousel-inner" role="listbox">
				    {# Start new comment #}
				    <div class="item active">
				      	<div class="boxsn_caption_slide">
				        	<h3>This place Is nice and quiet, very relaxing.</h3>
				        	<p>Service of people here are very helpful and looked after us well. I would be back to Jack Surf camp anytime</p>

				        	<span class="names">Dear Milton & Ballina, Australia</span>
				        	<div class="clear"></div>
				        </div>
				    </div>
				    <div class="item">
				      	<div class="boxsn_caption_slide">
				        	<h3>For the second time I came here because it has a naturaly beauty</h3>
				        	<p>that is far from the hustle and bustle of the crowd.Calm and has amazing surfing essence, that is G-land. And the service at Jack Surf camp is very friendly and helps impeccably and exemplifies me.</p>

				        	<span class="names">Matt Jones, Yallingup-Western Australia</span>
				        	<div class="clear"></div>
				        </div>
				    </div>
				    <div class="item">
				      	<div class="boxsn_caption_slide">
				        	<h3>Thanks you very much for taking care us, the waves have pumped up our adrenaline,</h3>
				        	<p>here is enough to eat and the service is good, in my opinion this is the best camp on the G-land. The staff here are extraordinary and important to us, willing to take us to Tigertrack whenever we want. The food is fantastic too, the cooks here presents hotdogs on the beach when the sun goes down. Very pleasant.</p>

				        	<span class="names">Chris & Anthony, USA</span>
				        	<div class="clear"></div>
				        </div>
				    </div>
				    <div class="item">
				      	<div class="boxsn_caption_slide">
				        	<h3>Thank you for having us, Ryan and Rusell, </h3>
				        	<p>The atmosphere is soo” Melayang”, we arrived stressed and over worked but we are leaving distressed, relaved and happy. The staff are so helpful and friendly, and always available for what ever our needs. We will definitely be back next year!!!</p>

				        	<span class="names">Kiora jack</span>
				        	<div class="clear"></div>
				        </div>
				    </div>
				    <div class="item">
				      	<div class="boxsn_caption_slide">
				        	<h3>The great place to stay, The staff very friendly and helpful, </h3>
				        	<p>5 star treatment food, great location in the best, AC bungalows were nice and comfortable, the staff super fantastic, always a smile and laugh. Thanks for everything and great company. The staff will can whatever you need and help with any travel arrangments. You may need, I love this place and course the waves are always said.<br>I’ll be back for sure</p>

				        	<span class="names">T. Cashmann -  Hawaii</span>
				        	<div class="clear"></div>
				        </div>
				    </div>
				    <div class="item">
				      	<div class="boxsn_caption_slide">
				        	<h3>Wow, What Q trip? Hospitality is has been first class</h3>
				        	<p>The Staff you made me holiday for us, was absolutely bonkers – Big tick to those behind the hot plate . I love this place, wish I could have stayed longer, See you all again soon.</p>

				        	<span class="names">Ben jones, Perth</span>
				        	<div class="clear"></div>
				        </div>
				    </div>
				    <div class="item">
				      	<div class="boxsn_caption_slide">
				        	<h3>Aloha Jack’s, Thank you for the awesome stay. </h3>
				        	<p>The staff here does an excellent job, I have travelled all the way from “HANA MANI” and as soon as a arrived, I felt like, I was at home, Its very refreshing to see the aloha spirit surviving in the jungle of java. The surf speaks for itself,  the cooks are world class to match. The waves and staff is the man excellent at what he does. A pleasure to be here, only wish.  I could have stayed longer! Until next time.</p>

				        	<span class="names">Carl A. Bertelmann - Aloha</span>
				        	<div class="clear"></div>
				        </div>
				    </div>
				    <div class="item">
				      	<div class="boxsn_caption_slide">
				        	<h3>I really enjoyed my stay here in Jack Surf Camp. </h3>
				        	<p>It has a great atmosphere very relaxing and quiet, in the middle of the jungle. The room are very comfortable and the food is great, we had the fantastic opportunity to eat indo food, really tasty . Also I will like to highlight the excellence servive , the people here was very nice and caring. It is an adventure to be here and totally worth it.</p>

				        	<span class="names">Daniela Ferreyds</span>
				        	<div class="clear"></div>
				        </div>
				    </div>
				    <div class="item">
				      	<div class="boxsn_caption_slide">
				        	<h3>Very happy with my stay at Jacks.</h3>
				        	<p>The staff were always friendly and helpful, food was good are  the waves were perfect, very relaxing place and I would certainly come back again.</p>

				        	<span class="names">Brendan Kelly - Mullumbimby, Australia</span>
				        	<div class="clear"></div>
				        </div>
				    </div>

				    {# end new comment #}

				    <div class="item">
				      	<div class="boxsn_caption_slide">
				        	<h3>SURFERS CAN&rsquo;T STOP TALKING ABOUT THEIR<br /> EPIC EXPERIENCE AT G-LAND JACK&rsquo;S SURF CAMP</h3>
				        	<p>&quot;In G-Land Jack's Surf Camp all I do is Eat Surf Sleep Repeat! The waves!! Godness you have to feel it to believe it!&quot;</p>

				        	<span class="names">Jason Gondokusuma</span>
				        	<div class="clear"></div>
				        </div>
				    </div>
				    <div class="item">
				      	<div class="boxsn_caption_slide">
				        	<h3>SURFERS CAN&rsquo;T STOP TALKING ABOUT THEIR<br /> EPIC EXPERIENCE AT G-LAND JACK&rsquo;S SURF CAMP</h3>
				        	<p>&quot;G-land jelas bukan tempat untuk pemula! Saya merasakan surfing dengan ombak yang paling keren di Indonesia, bahkan di dunia! Jack's Surf Camp adalah akomodasi terdekat dan ternyaman di G-Land.&quot;</p>

				        	<span class="names">Andre Husnandar - Indonesia</span>
				        	<div class="clear"></div>
				        </div>
				    </div>
				    <div class="item">
				      	<div class="boxsn_caption_slide">
				        	<h3>SURFERS CAN&rsquo;T STOP TALKING ABOUT THEIR<br /> EPIC EXPERIENCE AT G-LAND JACK&rsquo;S SURF CAMP</h3>
				        	<p>&quot;I'm lucky to have choosen Jack's Surf Camp in G-Land. I had a good sleep and the food was fantastic! The location is superb!&quot;</p>

				        	<span class="names">Cali Andreano - Brazil</span>
				        	<div class="clear"></div>
				        </div>
				    </div>
				    <div class="item">
				      	<div class="boxsn_caption_slide">
				        	<h3>SURFERS CAN&rsquo;T STOP TALKING ABOUT THEIR<br /> EPIC EXPERIENCE AT G-LAND JACK&rsquo;S SURF CAMP</h3>
				        	<p>&quot;Jack's Surf Camp got the best and the nearest location to the big waves, it got the coolest watch tower, the best barbecue and the best breakfast!&quot;</p>

				        	<span class="names">Herman Giuseppe - Spain</span>
				        	<div class="clear"></div>
				        </div>
				    </div>
				    <div class="item">
				      	<div class="boxsn_caption_slide">
				        	<h3>SURFERS CAN&rsquo;T STOP TALKING ABOUT THEIR<br /> EPIC EXPERIENCE AT G-LAND JACK&rsquo;S SURF CAMP</h3>
				        	<p>&quot;Me and my pals couldn't wait to re-visit Jack's Surf Camp at G-land. Our previous surf-trip was excellent. Staffs at Jack's Surf Camp accommodate me and my friends with warmth and sincerity.&quot;</p>

				        	<span class="names">Scott Gezell - Australia</span>
				        	<div class="clear"></div>
				        </div>
				    </div>
				    <div class="item">
				      	<div class="boxsn_caption_slide">
				        	<h3>SURFERS CAN&rsquo;T STOP TALKING ABOUT THEIR<br /> EPIC EXPERIENCE AT G-LAND JACK&rsquo;S SURF CAMP</h3>
				        	<p>&quot;You wouldn't want to go to another place besides Jack's Surf Camp in G-Land. You'll know it when you see surfers from another place took 5-10 minutes to walk to Jack's Surf Camp because in front of Jack's Surf Camp is where the game is!&quot;</p>

				        	<span class="names">Alex Broody - Argentina</span>
				        	<div class="clear"></div>
				        </div>
				    </div>
				    
				    
				  </div>

				  <a class="left carousel-control" href="#carousel_btm_comment" role="button" data-slide="prev">
				  </a>
				  <a class="right carousel-control" href="#carousel_btm_comment" role="button" data-slide="next">
				  </a>
			</div>
			<script type="text/javascript">
			$(function(){
				{% if menu == 'homepage' %}
				// $('#carousel_btm_comment.carousel').carousel({
				//   interval: 4000
				// });
				$('.carousel-control.left').click(function() {
				  $('#carousel_btm_comment.carousel').carousel('prev');
				});
				$('.carousel-control.right').click(function() {
				  $('#carousel_btm_comment.carousel').carousel('next');
				});
				{% endif %}
			})
			</script>
			
			<div class="clear"></div>
		</div>
	</section>