{% extends 'layouts/main.twig' %}
{% block maincontent %}
<body data-spy="scroll" id="page-top">
		<div class="wrapper prelatif">
			<div class="block-wrap-fcss-top-conhome prelatife">
				{% include "/layouts/header.twig" with { 'menu': block('menu') } %}

					<div id="gallery-1" class="slider-container preserve-3d">
						<div class="flexslider preserve-3d">
							<ul class="slides">
								<li>
									<div class="main-slide" style="background-image: url({{ app.request.baseurl }}/asset/images/fcs/fcs-1.jpg);"></div>
								</li>
								<li>
									<div class="main-slide" style="background-image: url({{ app.request.baseurl }}/asset/images/fcs/fcs-2.jpg);"></div>
								</li>
								<li>
									<div class="main-slide" style="background-image: url({{ app.request.baseurl }}/asset/images/fcs/fcs-3.jpg);"></div>
								</li>
								<li>
									<div class="main-slide" style="background-image: url({{ app.request.baseurl }}/asset/images/fcs/fcs-4.jpg);"></div>
								</li>
								<li>
									<div class="main-slide" style="background-image: url({{ app.request.baseurl }}/asset/images/fcs/fcs-5.jpg);"></div>
								</li>
								<li>
									<div class="main-slide" style="background-image: url({{ app.request.baseurl }}/asset/images/fcs/fcs-6.jpg);"></div>
								</li>
								<li>
									<div class="main-slide" style="background-image: url({{ app.request.baseurl }}/asset/images/fcs/fcs-7.jpg);"></div>
								</li>

							</ul>
						</div>
					</div>
				
				<div class="headers-responss">
					<div id="carousel-example-fcs" class="carousel fade">
					  <ol class="carousel-indicators">
					    <li data-target="#carousel-example-fcs" data-slide-to="0" class="active"></li>
					    <li data-target="#carousel-example-fcs" data-slide-to="1"></li>
					    <li data-target="#carousel-example-fcs" data-slide-to="2"></li>
					    <li data-target="#carousel-example-fcs" data-slide-to="3"></li>
					    <li data-target="#carousel-example-fcs" data-slide-to="4"></li>
					    <li data-target="#carousel-example-fcs" data-slide-to="5"></li>
					    <li data-target="#carousel-example-fcs" data-slide-to="6"></li>
					  </ol>
					  <div class="carousel-inner" role="listbox">
					    <div class="item active">
					      <img src="{{ app.request.baseurl }}/asset/images/fcs/fcs-1-res.jpg">
					    </div>
					    <div class="item">
					      <img src="{{ app.request.baseurl }}/asset/images/fcs/fcs-2-res.jpg">
					    </div>
					    <div class="item">
					      <img src="{{ app.request.baseurl }}/asset/images/fcs/fcs-3-res.jpg">
					    </div>
					    <div class="item">
					      <img src="{{ app.request.baseurl }}/asset/images/fcs/fcs-4-res.jpg">
					    </div>
					    <div class="item">
					      <img src="{{ app.request.baseurl }}/asset/images/fcs/fcs-5-res.jpg">
					    </div>
					    <div class="item">
					      <img src="{{ app.request.baseurl }}/asset/images/fcs/fcs-6-res.jpg">
					    </div>
					    <div class="item">
					      <img src="{{ app.request.baseurl }}/asset/images/fcs/fcs-7-res.jpg">
					    </div>

					  </div>

					</div>
					<div class="clear"></div>
				</div>

				<div class="outers-block-top-wrapfcs2">

					<div class="bloc_middlecn_home1">
						<div class="texts">
							<div class="mx-auto tengah d-block lgo_centers_fcs">
								<img src="{{ app.request.baseurl }}/asset/images/update/lgo-inners_slideFcs.png" alt="Jack’s G-LAND SURFING" class="img-responsive tengah">
							</div>
							<div class="clear height-10"></div>
							<h2>G-Land at Plekung Beach is one of the most incredible surf spots in the world,</h2>									
							<p>Jack’s G-Land Surf Camp accommodates surfers around the world who wants to have the best spot, <br>
							both for surfing and chilling after a full day with the waves.</p>
							<div class="clear"></div>
						</div>
					</div>
					{# end middle banner Fcs #}

					<div class="clear"></div>
				</div>

				<div class="clear"></div>
			</div>
				{% block content %}{% endblock %}
			{% include "/layouts/footer.twig" %}
		</div>
		<script type="text/javascript">
		$(function(){
			var swidth = $(window).width();
			if (swidth <= 767){
				var $item = $('#carousel-example-fcs.carousel .item'); 
				var $wHeight = $(window).height();
				$item.eq(0).addClass('active');
				$item.height($wHeight); 
				$item.addClass('full-screen');

				$('#carousel-example-fcs.carousel img').each(function() {
				  var $src = $(this).attr('src');
				  $(this).parent().css({
				    'background-image' : 'url(' + $src + ')'
				  });
				  $(this).remove();
				});

				$(window).on('resize', function (){
				  $wHeight = $(window).height();
				  $item.height($wHeight);
				});

				$('.carousel').carousel({
				  interval: 5000,
				  pause: "false"
				});
			}
		});
		</script>

		{% if get_setting.popup_status == 1 %}
		<!-- Modal -->
		<div class="modal fade customsModal" id="ModalBox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <!-- <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
		      </div> -->
		      <div class="modal-body">
		        <div class="ins_bodyModals text-center">
		          <div class="pictures margin-bottom-0">
		          	{% if get_setting.popup_url != '' %}
		          	<a href="{{ get_setting.popup_url }}">
		          	{% endif %}
		          		<img src="{{ app.request.baseurl }}/image.php/{{ get_setting.popup_image }}?width=500&amp;height=500&amp;image=/admin/images/static/{{ get_setting.popup_image }}" alt="Popup title website" class="img-responsive center-block">
		          	{% if get_setting.popup_url != '' %}
					</a>
		          	{% endif %}
					</div>
		          <div class="clear"></div>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>
		<script type="text/javascript">
		$('#ModalBox').modal();
		</script>
		{% endif %}
</body>
{% endblock %}