
<div class="visible-xs">
	<div class="float_mobile box_info_call">
		<div class="row">
			<div class="col-xs-6">
				<div class="txsp">
					<a href="https://wa.me/6287854858074">
						<i class="fa fa-mobile"></i>
						<span>WHATSAPP</span>
					</a>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="txsp">
					<a href="mailto:info@g-landjacksurfcamp.com">
						<i class="fa fa-paper-plane"></i>
						<span>EMAIL</span>
					</a>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!--/. Footer -->
<footer class="foot">
	<div class="prelatife container">
		<div class="ins_footers">
			<div class="row default">
				<div class="col-md-4 col-sm-3">
					<div class="lgo_footers">
						<a href="#"><img src="{{ app.request.baseurl }}/asset/images/logo_g_land-footer.png" alt="" class="img-responsive"></a>
					</div>
				</div>
				<div class="col-md-8 col-sm-9">
					<div class="text-right footrsn_social_med">
						{# <a href="javascript:;" class="fancy_popups">VIEW 2020 TRIP SCHEDULE</a>
						&nbsp;&nbsp;&nbsp; #}
						<a target="_blank" href="https://www.instagram.com/jacks_surfcamp/"><i class="fa fa-instagram"></i></a>&nbsp;&nbsp;&nbsp;
						<a target="_blank" href="https://www.facebook.com/glandsurfcamp.daily/"><i class="fa fa-facebook"></i></a>
					</div>
					<div class="clear"></div>
					<div class="t_info_footers text-right">
						Copyright &copy; 2017, PT. WANA WISATA ALAM HAYATI - Pantai Plekung, Banyuwangi
					</div>
				</div>
			</div>
			<div class="clear height-30"></div>
			<div class="clear"></div>
		</div>
	</div>

	<div class="blocks_footergreen">
		<div class="prelatife container">
			<div class="row">
				<div class="col-md-8 col-sm-6">
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="t-copyrights text-right">
						Design & developed by <a href="http://www.markdesign.net/" target="_blank" title="Website Design Surabaya">Mark Design.</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="clear"></div>
</footer>

<script type="text/javascript">
	$(function(){
		var swidth = $(window).width();
		if (swidth <= 767){
		$(
			'.outers-block-top-wrapfcs2 .bloc_middlecn_home1 .texts, .boxsn_caption_slide h3, section.default_sc.blocks_contact_middle1 .insides h3, section.default_sc.blocks_activity_pg1 .insides .tops p, .outers-block-top-wrapfcs2 .bloc_middlecn_home1 .texts p, section.default_sc.blocks_about_pg1 .insides .tops p, section.default_sc.blocks_about_pg3 .insides h3.sub_title'
			).find('br').remove();
		}
	});
</script>