<div class="header posfull-abs">
		<!-- /. Header -->
		<header class="head {% if menu == 'homepage' %}homep{% endif %} {% if menu != 'homepage' %}inside{% endif %}">
		<div class="container header_wcont prelatife">
				<div class="outers-back-header">
					<div class="tops_flsn_blue">
						<div class="row">
							<div class="col-md-12">
								<div class="blocks_whitetag">
									JACK’S G-LAND SURFING CAMP - THE MOST STRATEGIC SURFING SPOT IN G-LAND
								</div>
							</div>
						</div>
					</div>
					<div class="row default hidden-xs hidden-sm">
						<div class="col-lg-2 col-md-2 col-sm-4">
							<div class="lgo_web_header_lg">
								<a href="{{ url('homepage') }}">
									<img src="{{ app.request.baseurl }}/asset/images/logo_head_G-Land.svg" alt="G-Land Jack's Surfcamp" class="img-responsive">
								</a>
							</div>
						</div>
						<div class="col-lg-8 col-md-12">
							{# <div class="col-md-10 col-sm-8"> #}
								<div class="top-menu">
									<ul class="list-inline">
										<!-- <li class="{% if menu == 'homepage' %}active{% endif %}"><a href="{{ path('homepage') }}">HOME</a></li> -->
										<li><a href="{{ path('homepage') }}">HOME</a></li>
										<li class="{% if menu == 'about' %}active{% endif %}"><a href="{{ path('about') }}">ABOUT G-LAND JACK&rsquo;S SURF CAMP</a></li>
										{# <li><a target="_blank" href="https://magicseaweed.com/G-Land-Surf-Report/563/">SURF FORECAST</a></li> #}
										<li class="{% if menu == 'activity' %}active{% endif %}"><a href="{{ path('activity') }}">ACTIVITIES</a></li>
										<li class="{% if menu == 'accomodation' %}active{% endif %}"><a href="{{ path('accomodation') }}">ACCOMMODATION PACKAGES</a></li>
										<li><a href="javascript:;" class="fancy_video">VIDEO</a></li>
										<li class="{% if menu == 'contact' %}active{% endif %}"><a href="{{ path('contact') }}">CONTACT US</a></li>
										{# <li class="popups"><a href="javascript:;" class="fancy_popups">TRIP SCHEDULE</a></li> #}
									</ul>
								</div>
							{# </div> #}
						</div>
						<div class="col-lg-2 col-md-12">
							<div class="rights_headr text-right">
								<div class="txsp d-inline padding-right-40">
									<a href="https://wa.me/6287854858074">
										<i class="fa fa-mobile"></i>
										<span>WHATSAPP</span>
									</a>
								</div>
								<div class="txsp d-inline">
									<a href="mailto:info@g-landjacksurfcamp.com">
										<i class="fa fa-paper-plane"></i>
										<span>EMAIL</span>
									</a>
								</div>
								<div class="clear"></div>
							</div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>

			<div class="visible-xs visible-sm">
		                <nav class="navbar navbar-default navbar-fixed-top">
						  <div class="container-fluid">
						    <div class="navbar-header">
						      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						        <span class="sr-only">Toggle navigation</span>
						        <span class="icon-bar"></span>
						        <span class="icon-bar"></span>
						        <span class="icon-bar"></span>
						      </button>
						      <a class="navbar-brand" href="{{ path('homepage') }}"><img src="{{ app.request.baseurl }}/asset/images/logo_head_G-Land.svg" alt="logo" class="img-responsive"></a>
						    </div>

						    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						      <ul class="nav navbar-nav">
						      	<!-- <li class="{% if menu == 'homepage' %}active{% endif %}"><a href="{{ path('homepage') }}">HOME</a></li> -->
								<li><a href="{{ path('homepage') }}">HOME</a></li>
								<li class="{% if menu == 'about' %}active{% endif %}"><a href="{{ path('about') }}">ABOUT G-LAND JACK&rsquo;S SURF CAMP</a></li>
								{# <li><a target="_blank" href="https://magicseaweed.com/G-Land-Surf-Report/563/">SURF FORECAST</a></li> #}
								<li class="{% if menu == 'activity' %}active{% endif %}"><a href="{{ path('activity') }}">ACTIVITIES</a></li>
								<li class="{% if menu == 'accomodation' %}active{% endif %}"><a href="{{ path('accomodation') }}">ACCOMMODATION PACKAGES</a></li>
								<li><a href="javascript:;" class="fancy_video">VIDEO</a></li>
								<li class="{% if menu == 'contact' %}active{% endif %}"><a href="{{ path('contact') }}">CONTACT US</a></li>
								<li class="popups"><a href="javascript:;" class="fancy_popups">TRIP SCHEDULE</a></li>
						      </ul>
						      <div class="clear height-10"></div>
						    </div>
						  </div>
						</nav>
						<div class="clear"></div>
					</div>
			<div class="clear"></div>
		</header>
</div>

<script type="text/javascript">
    $(function(){
      var widths = $(window).width();
      if (widths > 1024){
        $('#myAffix').affix({
          offset: {
            top: 300
          }
        });
      }else{
        $('section#myAffix').hide();
      }

    });
  </script>

<section id="myAffix" class="header-affixs">
	<div class="clear height-5"></div>
	<div class="prelatife container">
		<div class="row">
			<div class="col-md-1 col-sm-1">
				<div class="lgo_web_affx">
					<a href="{{ path('homepage') }}">
						<img src="{{ app.request.baseurl }}/asset/images/logo_head_G-Land.svg" alt="" style="max-width: 110px;">
					</a>
				</div>
			</div>
			<div class="col-md-11 col-sm-11">
				<div class="text-right"> 
					<div class="clear height-15"></div>
					<div class="menu-taffix d-inline">
						<ul class="list-inline d-inline">
							<!-- <li class="{% if menu == 'homepage' %}active{% endif %}"><a href="{{ path('homepage') }}">HOME</a></li> -->
							<li><a href="{{ path('homepage') }}">HOME</a></li>
							<li class="{% if menu == 'about' %}active{% endif %}"><a href="{{ path('about') }}">ABOUT G-LAND JACK&rsquo;S SURF CAMP</a></li>
							{# <li><a target="_blank" href="https://magicseaweed.com/G-Land-Surf-Report/563/">SURF FORECAST</a></li> #}
							<li class="{% if menu == 'activity' %}active{% endif %}"><a href="{{ path('activity') }}">ACTIVITIES</a></li>
							<li class="{% if menu == 'accomodation' %}active{% endif %}"><a href="{{ path('accomodation') }}">ACCOMMODATION PACKAGES</a></li>
							<li><a href="javascript:;" class="fancy_video">VIDEO</a></li>
							<li class="{% if menu == 'contact' %}active{% endif %}"><a href="{{ path('contact') }}">CONTACT US</a></li>
							<li class="popups"><a href="javascript:;" class="fancy_popups">VIEW 2020 TRIP SCHEDULE</a></li>
						</ul>
					</div>
					<div class="rights_headr d-inline text-right padding-left-20">
						<div class="txsp d-inline padding-right-10">
							<a href="https://wa.me/6287854858074">
								<i class="fa fa-mobile"></i>
								<span>WHATSAPP</span>
							</a>
						</div>
						<div class="txsp d-inline">
							<a href="mailto:info@glandjacksurfcamp.com">
								<i class="fa fa-paper-plane"></i>
								<span>EMAIL</span>
							</a>
						</div>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</section>

<div class="blocks_pullHdr_rights hide">
    <div class="margin-right-40 fright">
      <a href="javascript:;" class="btn btn-link btns_shipstrip_hdr fancy_popups"></a>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>