{% extends 'layouts/main_inside.twig' %}
{% block maincontent %}
<body class="inside_page">
		<div class="wrapper prelatife h100per">
				<div class="prelatife">
					{% include "/layouts/header.twig" with { 'menu': block('menu') } %}
					{% block content %}{% endblock %}
					<div class="clear"></div>
				</div>

			{% include "/layouts/footer.twig" %}
		</div>
</body>
{% endblock %}