{% extends layout %}
{% block title %}About - {% endblock %}
{% block menu %}about{% endblock %}
{% block content %}
<div class="outers_cont_inside_page back-white about_page" id="inside_page">

	<h1 style="visibilty: none; display:none;">ABOUT - {{ app_name }}</h1>

	<section class="default_sc blocks_about_pg1">
		<div class="prelatife container">
			<div class="insides content-text">
				<div class="text-center maw715 tengah tops">
					{# <h2 class="sub_title visible-xs">ABOUT G-LAND JACK&rsquo;S SURF CAMP</h2> #}
					<h2 class="sub_title"><img src="{{ app.request.baseurl }}/asset/images/update/back-banner-titles_about_n1.png" alt="" class="img-responsive tengah"></h2>
					<div class="clear height-5"></div>
					<p>Learn why Jack&rsquo;s Surf Camp should be your first choice accommodation when you are<br /> planning to visit G-Land - Plengkung Beach, Banyuwangi.</p>
				</div>
				<div class="clear height-50"></div><div class="height-30"></div>

				<div class="row default">
					<div class="col-md-6">
						<div class="pictsn_banner"><img src="{{ app.request.baseurl }}/asset/images/pict-about-1.png" alt="" class="img-responsive"></div>
					</div>
					<div class="col-md-6">
						<div class="clear height-15"></div>
						<div class="maw420 fright">
							<h3 class="sub_title">G-LAND JACK&rsquo;S SURF CAMP got the best surfing spot</h3>
							<p>Jack&rsquo;s Surf Camp is a humble and homy accommodation strategically located at the most exciting G-Land surf paradise spot, close to Bali - Indonesia. Jack&rsquo;s Surf Camp located near to the most challenging surf spot in G-Land, when others need to travel by foot for at least 20-30 minutes, surfers at Jack&rsquo;s Surf Camp can just hop in to the waves as it&rsquo;s just right infront of our place. This is one of the many reasons that Jack&rsquo;s Surf Camp in G-land is your best choice.</p>
							<p><img src="{{ app.request.baseurl }}/asset/images/pict-about-maps_wave.jpg" alt="" class="img-responsive banner_wave"></p>
						</div>
						<div class="clear"></div>
					</div>
				</div>

				<div class="clear"></div>
			</div>
		</div>
	</section>

	<section class="default_sc blocks_about_pg2 backs_new_about">
		<div class="prelatife container">
			<div class="insides content-text text-center">
				<h3 class="sub_title">G-land is also heaven for <br>the not so advanced surfers</h3>
				<div class="clear height-30"></div>
				<p>Beyond what people is lead to believe, G-Land offers a lot more breaks than just the world famous main point, not as heavy, but just beautiful and regularly empty.</p>
				<div class="clear height-20"></div>
				<div class="row default">
					<div class="col-md-6">
						<p><strong>20/20's</strong></p>
						<p>The Left is an amazingly great quality wave, just twenty minutes stroll down the picturesque empty white sand beach. Always smaller than the main break, it can throw out forgiving barrels and fun playful walls that wind down the 100m long reef, before filling up in the deep channel.</p>
						<p>The right is not as long as its sister facing directly opposite, and generally needing a bit more swell, on the right swell it will throw out perfect horse shoeing barrels.</p>
					</div>
					<div class="col-md-6">
						<p><strong>Tiger Tracks</strong></p>
						<p>Another thirty minutes walk down the pristine deserted white sandy beach, will lead you to a natural footers dream. Empty right barrels, picking up almost the same swell size as the main point and breaking over forgiving sponge reef, Tiger Tracks can make your trip to G-Land one remember to on its own, being a very good learning waves.</p>
					</div>
				</div>
				<div class="clear height-20"></div>
				<p class="text-white"><strong>G-Land Jack's Surf Camp will arrange professional surf guide upon request. Just drop us a line!</strong></p>
				<div class="clear clearfix"></div>
			</div>
		</div>
	</section>


	<section class="default_sc blocks_about_pg2">
		<div class="prelatife container">
			<div class="insides content-text">

				<div class="row default">
					<div class="col-md-6">
						<div class="clear h70"></div>
						<div class="maw450">
							<h3 class="sub_title">G-LAND JACK&rsquo;S SURF CAMP accommodation</h3>
							<p>Jack&rsquo;s Surf Camp has the cosiest rooms and bungalows. It is perfect for your nesting ground before you hit the waves. Room with fans or room with air conditioner are for you to pick. All of them are well maintained and equipped with comfort bed to ensure you get your most relaxed sleep.</p>
							<p><a href="{{ path('accomodation') }}">Click here</a> and see our accommodation package offers for you.</p>
						</div>
						<div class="clear"></div>
					</div>
					<div class="col-md-6">
						<div class="pictsn_banner"><img src="{{ app.request.baseurl }}/asset/images/pict-about-2.png" alt="" class="img-responsive"></div>
					</div>
				</div>

				<div class="clear"></div>
			</div>
		</div>
	</section>

		<section class="default_sc blocks_about_pg3">
			<div class="prelatife container">
				<div class="insides content-text text-center">
					<h3 class="sub_title">EXPERIENCE JACK&rsquo;S SURF CAMP<br /> FACILITY &amp; HOSPITALITY</h3>
					<div class="clear height-35"></div>

					<div class="lists_blc_facility_abouts">
						<div class="row default">
							<div class="col-md-15 col-sm-4">
								<div class="items prelatife">
									<div class="picture">
										<img src="{{ app.request.baseurl }}/asset/images/facility_ab_1.jpg" alt="" class="img-responsive">
									</div>
									<div class="names text-center">Warmest Staffs</div>
								</div>
							</div>
							<div class="col-md-15 col-sm-4">
								<div class="items prelatife">
									<div class="picture">
										<img src="{{ app.request.baseurl }}/asset/images/facility_ab_2.jpg" alt="" class="img-responsive">
									</div>
									<div class="names text-center">Most Delicious Food</div>
								</div>
							</div>
							<div class="col-md-15 col-sm-4">
								<div class="items prelatife">
									<div class="picture">
										<img src="{{ app.request.baseurl }}/asset/images/facility_ab_3.jpg" alt="" class="img-responsive">
									</div>
									<div class="names text-center">Coolest Watch Tower</div>
								</div>
							</div>
							<div class="col-md-15 col-sm-4">
								<div class="items prelatife">
									<div class="picture">
										<img src="{{ app.request.baseurl }}/asset/images/facility_ab_4.jpg" alt="" class="img-responsive">
									</div>
									<div class="names text-center">Challenging Actions</div>
								</div>
							</div>
							<div class="col-md-15 col-sm-4">
								<div class="items prelatife">
									<div class="picture">
										<img src="{{ app.request.baseurl }}/asset/images/facility_ab_5.jpg" alt="" class="img-responsive">
									</div>
									<div class="names text-center">Never To Get Bored</div>
								</div>
							</div>

						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="visible-xs">
				<img src="{{ app.request.baseurl }}/asset/images/about_pic_bottoms_n3-full.jpg" alt="" class="img-responsive">
			</div>
		</section>

	{% include "/layouts/_btm_comments.twig" with { 'menu': block('menu') } %}

	<div class="clear"></div>
</div>
<style type="text/css">
	img.banner_wave{
		-webkit-box-shadow: 1px 1px 27px 0px rgba(50, 50, 50, 0.38);
		-moz-box-shadow:    1px 1px 27px 0px rgba(50, 50, 50, 0.38);
		box-shadow:         1px 1px 27px 0px rgba(50, 50, 50, 0.38);
	}
</style>
{% endblock %}
