{% extends layout %}
{% block title %}Accomodation Packages - {% endblock %}
{% block menu %}accomodation{% endblock %}
{% block content %}
<div class="outers_cont_inside_page back-white accomodation_page" id="inside_page">

	<h1 style="visibilty: none; display:none;">Accomodation Packages - {{ app_name }}</h1>

	<section class="full_picture prelatife">
		<img src="{{ app.request.baseurl }}/asset/images/update/backs_ill_packages_topPg.jpg" alt="" class="img-responsive">
	</section>

	<section class="default_sc blocks_accomodation_pack inside_page">
		<div class="prelatife container">
			<div class="insides text-center">
				{# <h3 class="s_title">G-LAND ACCOMMODATION PACKAGES</h3> #}
				<h3 class="s_title"><img src="{{ app.request.baseurl }}/asset/images/update/back-banner-titles_accomodation_n1.png" alt="" class="img-responsive tengah"></h3>
				<p>G-Land Jack&rsquo;s Surf Camp will cater to all of your needs, our packages are fully customisable. We can arrange everything for you from pickup at Bali and return to Bali or so many other alternatives, we&rsquo;re here and ready to be your guide to make your surfing adventure a memorable one!<br />
				<strong>Call our marketing staff at <span>+62 878 5485 8074</span></strong></p>

				<div class="clear height-15"></div>

				<div class="list_accomodation_default packages">
					<div class="items" id="package1">
						<div class="row default">
							<div class="col-md-6 col-sm-6">
								<div class="pict"><img src="{{ app.request.baseurl }}/asset/images/packages_ac_1.jpg" alt="" class="img-responsive"></div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="info">
									<h4>BUNGALOW</h4>
									<!-- <span>Package starts from <b>$725</b> / 3 nights</span> -->
									<span>
										USD <strong>$725</strong> for 3 nights<br>
										USD <strong>$975</strong> for 6 nights
										{# <br>
										Extend: USD <strong>$330</strong> for 3 nights #}
									</span>
									<p class="n_top">Package Detail:</p>
									<ul>
										<li>For 1 (one) person</li>
										<li>Fast Boat transport from Bali to G-Land and back to Bali</li>
										<li>Air conditioned room</li>
										<li>Food 3 times a day</li>
										<li>5 beers per day / per person</li>
										<li>Softdrinks, Coffee or Teas during stay</li>
										<li>Wifi access</li>
										<li>Pool and Ping Pong Table</li>
									</ul>


									<div class="blocks_btns">
										<a href="#" class="btn btn-default views_gallery" data-id="ac">VIEW PHOTOS</a>
										&nbsp;
										<a href="#" class="btn btn-default views_order_book"  data-toggle="modal" data-target="#myModal" data-picture="{{ app.request.baseurl }}/asset/images/packages_ac_1.jpg" data-name="BUNGALOW">book now</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="items" id="package2">
						<div class="row default">
							<div class="col-md-6 col-sm-6">
								<div class="pict"><img src="{{ app.request.baseurl }}/asset/images/packages_ac_2.jpg" alt="" class="img-responsive"></div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="info">
									<h4>STANDARD</h4>
									<!-- <span>Package starts from <b>$650</b> / 3 nights</span> -->
									<span>
										USD <strong>$650</strong> for 3 nights<br>
										USD <strong>$850</strong> for 6 nights{# <br>
										Extend: USD <strong>$300</strong> for 3 nights #}
									</span>
									<p class="n_top">Package Detail:</p>
									<ul>
										<li>For 1 (one) person</li>
										<li>Fast Boat transport from Bali to G-Land and back to Bali</li>
										<li>Room with fan</li>
										<li>Food 3 times a day</li>
										<li>4 beers per day / per person</li>
										<li>Softdrinks, Coffee or Teas during stay</li>
										<li>Wifi access</li>
										<li>Pool and Ping Pong Table</li>
									</ul>


									<div class="blocks_btns">
										<a href="#" class="btn btn-default views_gallery" data-id="fan">VIEW PHOTOS</a>
										&nbsp;
										<a href="#" class="btn btn-default views_order_book"  data-toggle="modal" data-target="#myModal" data-picture="{{ app.request.baseurl }}/asset/images/packages_ac_2.jpg" data-name="STANDARD">book now</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="items" id="package3">
						<div class="row default">
							<div class="col-md-6 col-sm-6">
								<div class="pict"><img src="{{ app.request.baseurl }}/asset/images/packages_ac_3.jpg" alt="" class="img-responsive"></div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="info">
									<h4>BUDGET</h4>
									<!-- <span>Package starts from <b>$550</b> / 3 nights</span> -->
									<span>
										USD <strong>$550</strong> for 3 nights<br>
										USD <strong>$700</strong> for 6 nights{# <br>
										Extend: USD <strong>$225</strong> for 3 nights #}
									</span>
									<p class="n_top">Package Detail:</p>
									<ul>
										<li>For 1 (one) person</li>
										<li>Fast Boat transport from Bali to G-Land and back to Bali</li>
										<li>Shared backpackers room with fans</li>
										<li>Food 3 times a day</li>
										<li>2 beers per day / per person</li>
										<li>Softdrinks, Coffee or Teas during stay</li>
										<li>Wifi access</li>
										<li>Pool and Ping Pong Table</li>
									</ul>

									<div class="blocks_btns">
										<a href="#" class="btn btn-default views_gallery"  data-id="back">VIEW PHOTOS</a>
										&nbsp;
										<a href="#" class="btn btn-default views_order_book" data-toggle="modal" data-target="#myModal" data-picture="{{ app.request.baseurl }}/asset/images/packages_ac_3.jpg" data-name="BUDGET">book now</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="clear"></div>
				</div>
				<!-- end list accomodation -->

				<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.5.0/css/lightgallery.min.css">
				<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.5.0/js/lightgallery.min.js"></script>
				<script type="text/javascript">
				  $(function() {
				    $('.views_gallery').live('click', function() {
				          var s_id_light = $(this).attr('data-id');
				          switch(s_id_light) {
							    case 'ac':
							        $(this).lightGallery({
									thumbnail: false,
									dynamic: true,
									dynamicEl: [
									            {
									              src: '{{ app.request.baseurl }}/images/gallery/ac/ac-bungalow.jpg',
									            },
									            {
									              src: '{{ app.request.baseurl }}/images/gallery/ac/ac-bungalow2.jpg',
									            },
									            {
									              src: '{{ app.request.baseurl }}/images/gallery/ac/ac-bungalow3.jpg',
									            },
									            {
									              src: '{{ app.request.baseurl }}/images/gallery/ac/ac-bungalow4.jpg',
									            },
									            {
									              src: '{{ app.request.baseurl }}/images/gallery/ac/ac-bungalow5.jpg',
									            },
									            {
									              src: '{{ app.request.baseurl }}/images/gallery/ac/ac-bungalow6.jpg',
									            },

									          ]
						          });
							        break;
							    case 'fan':
							        $(this).lightGallery({
									thumbnail: false,
									dynamic: true,
									dynamicEl: [
									            {
									              src: '{{ app.request.baseurl }}/images/gallery/fan/fan-bungalow01.jpg',
									            },
									            {
									              src: '{{ app.request.baseurl }}/images/gallery/fan/fan-bungalow02.jpg',
									            },
									            {
									              src: '{{ app.request.baseurl }}/images/gallery/fan/fan-bungalow03.jpg',
									            },
									          ]
						          });
							        break;
							    default:
							        $(this).lightGallery({
									thumbnail: false,
									dynamic: true,
									dynamicEl: [
									            {
									              src: '{{ app.request.baseurl }}/images/gallery/backpacker/backpacker-bungalow.jpg',
									            },
									          ]
						          });
							      break;
							}

				          
				      });
				    
				  });
				</script>

				<div class="clear height-35"></div>
				<h3 class="s_title">what you GET WHEN PURCHASING jack&rsquo;s surf camp ACCOMMODATION PACKAGE</h3>
				<div class="clear"></div>
				<div class="clear height-15"></div>
				<div class="lists_acomodations_icons_pack inside">
					<div class="row default">
						<div class="col-md-15 col-sm-4">
							<div class="items">
								<div class="picture"><img src="{{ app.request.baseurl }}/asset/images/update/ft_home_icon_1_in.jpg" alt="" class="img-responsive tengah"></div>
								<div class="info">
									<span>Sea fast boat transport from and back to Bali</span>
								</div>
							</div>
						</div>
						<div class="col-md-15 col-sm-4">
							<div class="items">
								<div class="picture"><img src="{{ app.request.baseurl }}/asset/images/update/ft_home_icon_2_in.jpg" alt="" class="img-responsive tengah"></div>
								<div class="info">
									<span>Cool and<br>comfortable rooms</span>
								</div>
							</div>
						</div>
						<div class="col-md-15 col-sm-4">
							<div class="items">
								<div class="picture"><img src="{{ app.request.baseurl }}/asset/images/update/ft_home_icon_3_in.jpg" alt="" class="img-responsive tengah"></div>
								<div class="info">
									<span>Beers, Softdrinks,<br>Coffees or Teas.</span>
								</div>
							</div>
						</div>
						<div class="col-md-15 col-sm-4">
							<div class="items">
								<div class="picture"><img src="{{ app.request.baseurl }}/asset/images/update/ft_home_icon_4_in.jpg" alt="" class="img-responsive tengah"></div>
								<div class="info">
									<span>Fabulous food<br>3 times a day</span>
								</div>
							</div>
						</div>
						<div class="col-md-15 col-sm-4">
							<div class="items">
								<div class="picture"><img src="{{ app.request.baseurl }}/asset/images/update/ft_home_icon_5_in.jpg" alt="" class="img-responsive tengah"></div>
								<div class="info">
									<span>Wifi, pool table<br>and ping pong!</span>
								</div>
							</div>
						</div>

					</div>
				</div>

				<div class="clear"></div>
			</div>
		</div>
		<div class="clear height-15"></div>
		{# <div class="back_shadow"></div> #}
	</section>
	
	{% include "/layouts/_btm_comments.twig" with { 'menu': block('menu') } %}
	<div class="clear"></div>
</div>

<script type="text/javascript">
	$(function(){
		$('.views_order_book').on('click', function (e) {
		  e.preventDefault();
		  var input_room = $('input#book_room_input');
		  var picture_room = $('.ins_modal .pictures img');

		  $(picture_room).attr('src', $(this).attr('data-picture'));
		  $(input_room).val( $(this).attr('data-name') );
		});
	});
</script>
<!-- Modal -->
<div class="modal fade customs_modalPopup" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><img src="{{ app.request.baseurl }}/asset/images/logo_g_land-responsive.png" alt="" class="img-responsive"></h4>
      </div>
      <div class="modal-body">
        <div class="ins_modal">
        	<div class="row default">
        		<div class="col-md-12">
        			<div class="pictures"><img src="https://placehold.it/400x300" alt="" class="img-responsive"></div>
        		</div>
        		<div class="col-md-12">
        			<div class="clear height-30"></div>
        			<form method="post" action="" role="form">
        				<div class="row default">
						<div class="col-md-6 col-sm-6">
								<div class="form-group">
								    <label class="exampleInputName">Book Room</label>
								    <div class="clear"></div>
								    <input type="text" name="Booking[book_room]" class="form-control" id="book_room_input" required>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
								    <label class="exampleInputName">How Many Guest</label>
								    <div class="clear"></div>
								    <input type="text" name="Booking[guest]" class="form-control" id="exampleInputName" placeholder="1, 2, 3, etc.." required>
								</div>
							</div>
						</div>
        				<div class="row default">
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
								    <label class="exampleInputName">Check In Date</label>
								    <div class="clear"></div>
								    <input type="text" name="Booking[date_checkin]" class="form-control datepicker" required>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="dates_block">
									
									<div class="form-group">
									    <label class="exampleInputName">Check Out Date</label>
									    <div class="clear"></div>
									    <input type="text" name="Booking[date_checkout]" class="form-control datepicker" required>
									</div>
								</div>
							</div>
						</div>
						
						<div class="row default">
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
								    <label class="exampleInputName">Name</label>
								    <div class="clear"></div>
								    <input type="text" name="Booking[name]" class="form-control" id="exampleInputName" required>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
								    <label class="exampleInputName">Email</label>
								    <div class="clear"></div>
								    <input type="text" name="Booking[email]" class="form-control" id="exampleInputName" required>
								</div>
							</div>
						</div>
						<div class="row default">
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
								    <label class="exampleInputName">Phone</label>
								    <div class="clear"></div>
								    <input type="text" name="Booking[phone]" class="form-control" id="exampleInputName" required>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
								    <label class="exampleInputName">Company</label>
								    <div class="clear"></div>
								    <input type="text" name="Booking[company]" class="form-control" id="exampleInputName" required>
								</div>
							</div>
						</div>

						<div class="row default">
							<div class="col-md-12 col-sm-12">
								<div class="form-group">
								    <label>Message</label> 
								    <div class="clear"></div>
								    <textarea name="Booking[message]" rows="3" class="form-control" required></textarea>
								</div>
							</div>
						</div>
						
						<div class="row default">
							<div class="col-md-12 col-sm-12">
								<div class="fright-inpd">
									<div class="form-group mb-0">
										<div class="fleft">
											<div class="g-recaptcha" data-sitekey="6LdBKDUUAAAAABTzV1HwwC3tx3AtzcKo5chroyHS"></div>
										</div>
										<div class="visible-xs height-10"></div>
										<div class="fright">
											<div class="clear height-2"></div>
											<button type="submit" class="btn btn-default btns-submit-bt">BOOK</button>
										</div>
										<div class="clear"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="clear"></div>
					</form> 
					<div class="clear"></div>
        		</div>
        	</div>

        	<div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src='https://www.google.com/recaptcha/api.js'></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script>
  $( function() {
    $( ".datepicker" ).datepicker({ dateFormat: 'dd-mm-yy' });
  } );
  </script>
{% endblock %}
