{% extends layout %}
{% block title %}Activities - {% endblock %}
{% block menu %}activity{% endblock %}
{% block content %}
<div class="outers_cont_inside_page back-white activity_page" id="inside_page">

	<h1 style="visibilty: none; display:none;">ACTIVITIES - {{ app_name }}</h1>

	<section class="default_sc blocks_activity_pg1">
		<div class="prelatife container">
			<div class="insides content-text">
				<div class="text-center maw760 tengah tops">
					{# <h2 class="sub_title">ACTIVITIES AT G-LAND JACK&rsquo;S SURF CAMP</h2> #}
					<h2 class="sub_title"><img src="{{ app.request.baseurl }}/asset/images/update/back-banner-titles_activity_n1.png" alt="" class="img-responsive tengah"></h2>
					<p>G-Land Jack&rsquo;s Surf Camp is a surf camp with a bold bunch of other fun activities!<br />Explorers, adventurers and nature seekers will surely be spoiled!</p>
				</div>
				<div class="clear height-50"></div><div class="height-30"></div>

				<div class="blocks_listn_activity">
					<div class="lists margin-bottom-50">
						<h4 class="titles">AT JACK&rsquo;S SURF CAMP &amp; g-land</h4>
						<div class="clear"></div>
						<div class="lists_default_activity_data">
							<div id="owl-demo" class="row owl-carousel owl-theme">
								{% for key, items in lists_activity %}
								<div class="col-md-12 item">
									<div class="items">
										<div class="picture">
											<a href="{{ path('activity_detail', {'id': key}) }}"><img src="{{ app.request.baseurl }}/images/activity/{{ items.thumb }}" alt="{{ items.title|title }}" class="img-responsive"></a>
										</div>
										<div class="info">
											<a href="{{ path('activity_detail', {'id': key}) }}"><span>{{ items.title|upper }}</span></a>
											<a href="{{ path('activity_detail', {'id': key}) }}" class="btn-link btns_more_act"></a>
										</div>
									</div>
								</div>
								{% endfor %}
							</div>
						</div>
						<div class="clear"></div>
					</div>

					<div class="lists">
						<h4 class="titles">AT nearby places (banyuwangi and surroundings)</h4>
						<div class="clear"></div>
						<div class="lists_default_activity_data">
							<div id="owl-demo2" class="row owl-carousel owl-theme">
								{% for key, items in lists_activity2 %}
								<div class="col-md-12 item">
									<div class="items">
										<div class="picture">
											<a href="{{ path('activity_detail', {'near': key}) }}"><img src="{{ app.request.baseurl }}/images/activity/{{ items.thumb }}" alt="{{ items.title|title }}" class="img-responsive"></a>
										</div>
										<div class="info">
											<a href="{{ path('activity_detail', {'near': key}) }}"><span>{{ items.title|upper }}</span></a>
											<a href="{{ path('activity_detail', {'near': key}) }}" class="btn-link btns_more_act"></a>
										</div>
									</div>
								</div>
								{% endfor %}
							</div>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</section>

	
	{% include "/layouts/_btm_comments.twig" with { 'menu': block('menu') } %}
	<div class="clear"></div>
</div>


<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js" type="text/javascript"></script>

<script type="text/javascript">
// $.noConflict();
$(document).ready(function() {
  $('a.btns_more_act').live('click', function(){
  	window.location.href = "{{ path('activity_detail') }}";
  });

  var owl = $("#owl-demo, #owl-demo2");
 
  owl.owlCarousel({
      items : 4, //10 items above 1000px browser width
      itemsDesktop : [1000, 4], //5 items between 1000px and 901px
      itemsDesktopSmall : [900, 3], // betweem 900px and 601px
      itemsTablet: [768, 3], //2 items between 600 and 0
      itemsMobile : [600, 1], // itemsMobile disabled - inherit from itemsTablet option
  	  pagination: true,
  	  navigation: true,
  	  paginationNumbers: false
  });

  $(".play").click(function(){
    owl.trigger('owl.play',1000); //owl.play event accept autoPlay speed as second parameter
  })

});
</script>
<style type="text/css">
  .owl-carousel .owl-wrapper-outer{
    width: 99.6%;
    padding-bottom: 0.5em;
  }
</style>
{% endblock %}
