{% extends layout %}
{% block title %}Activities - {% endblock %}
{% block menu %}activity{% endblock %}
{% block content %}
<div class="outers_cont_inside_page back-white activity_page" id="inside_page">

	<h1 style="visibilty: none; display:none;">ACTIVITIES - {{ app_name }}</h1>

	<section class="default_sc back-white blocks_detail_activity">
		<div class="prelatife container">
			<div class="insides content-text text-center">
				{# <h4>ACTIVITIES AT JACK&rsquo;S SURF CAMP &amp; g-land</h4> #}
				<h4><img src="{{ app.request.baseurl }}/asset/images/update/back-banner-titles_activity_n1.png" alt="" class="img-responsive tengah"></h4>
				<h2>{{ data.title|upper }}</h2>

				<div class="clear height-35"></div>
				<div class="picture"><img src="{{ app.request.baseurl }}/images/activity/big/{{ data.pict }}" alt="" class="center-block img-responsive"></div>
				<div class="clear height-30"></div>
				{% if data.list_pict %}
				<p><a href="#" class="views_gallery"><i class="fa fa-picture-o"></i> &nbsp;VIEW MORE {{ data.title|upper }} PHOTOS</a></p>
				
				<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.5.0/css/lightgallery.min.css">
				<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.5.0/js/lightgallery.min.js"></script>
				<script type="text/javascript">
				  $(function() {
				    $('a.views_gallery').live('click', function() {
			          $(this).lightGallery({
			            thumbnail: false,
			              dynamic: true,
			              dynamicEl: [
			              				{
			                              src: '{{ app.request.baseurl }}/images/activity/big/{{ data.pict }}',
			                              subHtml: '<h4>{{ data.title|title }}</h4>'
			                            },
			              				{% for keys, items in data.list_pict %}
			                            {
			                              src: '{{ app.request.baseurl }}/images/activity/big/{{ items }}',
			                              subHtml: '<h4>{{ data.title|title }}</h4>'
			                            },
			              				{% endfor %}
			                          ]
			          })
				      });
				    
				  });
				</script>
				{% else %}
				<p><a href="#" onclick="javascript:alert('Sorry, No photo'); return false;"><i class="fa fa-picture-o"></i> &nbsp;VIEW MORE {{ data.title|upper }} PHOTOS</a></p>
				{% endif %}
				<div class="clear height-10"></div>
				{% if data.desc != '' %}
				    {{ data.desc|raw }}
				{% else %}
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at semper urna. Morbi lobortis, lacus nec molestie pulvinar, massa velit congue orci, varius egestas magna tellus et ex. Maecenas in odio eleifend, ornare mauris eleifend, consequat leo. In risus metus, convallis ac nisl sed, vulputate feugiat leo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla nisi dui, pellentesque at justo vel, posuere sodales nulla. Mauris sed commodo orci. Quisque id feugiat lacus.</p>

				<p>Etiam cursus vitae elit non ullamcorper. Suspendisse bibendum nisl felis, id pulvinar sapien dapibus eget. Nulla sagittis ante ac felis mattis, fringilla fringilla nisl tincidunt. Proin urna sapien, tempus eget lorem in, vestibulum bibendum massa. Mauris feugiat ultricies tortor nec ornare. Nam ut velit semper, porttitor ante sed, pellentesque felis. Donec tortor arcu, placerat maximus pellentesque sed, dapibus sit amet enim.</p>
				{% endif %}

				<div class="clear height-20"></div>
				<div class="vies_link_others_article text-center">
					<a href="{{ path('activity') }}">BACK TO ACTIVITIES</a>
				</div>
				<div class="claer"></div>
			</div>
		</div>
	</section>

	{% include "/layouts/_btm_comments.twig" with { 'menu': block('menu') } %}

	<div class="clear"></div>
</div>
{% endblock %}
