{% extends layout %}
{% block title %}Contact Us - {% endblock %}
{% block menu %}contact{% endblock %}
{% block content %}
<div class="outers_cont_inside_page back-white contact_page" id="inside_page">

	<h1 style="visibilty: none; display:none;">Contact Us - {{ app_name }}</h1>

	<section class="full_picture prelatife">
		<img src="{{ app.request.baseurl }}/asset/images/update/backs_illns_contact_1.jpg" alt="" class="img-responsive">
	</section>

	<section class="default_sc blocks_contact_middle1">
		<div class="prelatife container">
			<div class="insides text-center">
				{# <h2 class="s_title">CONTACT G-LAND JACK&rsquo;S SURF CAMP</h2> #}
				<h2 class="s_title"><img src="{{ app.request.baseurl }}/asset/images/update/back-banner-titles_contact_n1.png" alt="" class="img-responsive tengah"></h2>
				<p>Get all the information that you needed here!<br />
				Just contact our guest relation staff at this hotline:</p>
				<div class="info_phones_email">
					<a href="tel:+623614729102"><i class="fa fa-phone fa-flip-horizontal"></i> &nbsp;+62 361 4729102</a>
					<span class="hide_mobile">&nbsp;&nbsp;</span>
					<a href="mailto:info@g-landjacksurfcamp.com"><i class="fa fa-envelope"></i> &nbsp;info@g-landjacksurfcamp.com</a>
					<div class="clear"></div>
				</div>
				<div class="clear height-20"></div>
				<h3 class="sub_company">PT. Wanawisata Alam Hayati.</h3>
				<div class="maw650 tengah">
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<p><strong>Main Office.</strong><br />
						Jln. Benesari – Kuta – Bali <br>
						Nearby Hotel Four Point by Sheraton <br>
						Kuta – Bali</p>
						<p class="locations">
							<a href="tel:087854858074"><i class="fa fa-mobile"></i><br>
							0878 5485 8074</a>
						</p>
						<p class="locations">
							<a target="_blank" href="https://goo.gl/maps/rAQigszt4wA2"><i class="fa fa-map-marker"></i><br>
							View location at Google Map</a>
						</p>
					</div>
					<div class="col-md-6 col-sm-6">
						<p><strong>Jack&#39;s Surf Camp.</strong><br />
						Plekung Beach, Alas Purwo, Banyuwangi.<br />
						East Java - Indonesia.</p>
						<p class="locations">
							<a target="_blank" href="https://goo.gl/maps/QRTByeDtmG32"><i class="fa fa-map-marker"></i><br>
							View location at Google Map</a>
						</p>
					</div>
				</div>
				</div>
				
				<div class="clear height-50"></div><div class="height-15"></div>
				<h3>DIRECTIONS ON how to get to jack&rsquo;s surf camp<br />at g-land, plekung beach - banyuwangi</h3>

				<div class="banners_picture_contact">
					<div class="row default">
						<div class="col-md-6 col-sm-6">
							<div class="pict prelatife">
								<a href="javascript:;" data-toggle="modal" data-target="#myModal1">
								<img src="{{ app.request.baseurl }}/asset/images/pict_contact_1.jpg" alt="" class="img-responsive">
								<div class="info">
									<h5>from banyuwangi<br />by car</h5>
									<p>4 hours via Alas Purwo</p>
								</div>
								</a>
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							<div class="pict prelatife">
								<a href="javascript:;" data-toggle="modal" data-target="#myModal2">
								<img src="{{ app.request.baseurl }}/asset/images/pict_contact_2.jpg" alt="" class="img-responsive">
								<div class="info">
									<h5>from bali<br>by fast boat</h5>
									<p>2 hours FROM BENOA</p>
								</div>
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="clear"></div>
			</div>
		</div>
	</section>
	
	<section class="default_sc back-white blocks_contact_outset" id="contact_form">
		<div class="prelatife container">
			<div class="insides">
				<div class="text-center tops">
					{# <h2 class="sub_title">ACCOMMODATION INQUIRY</h2> #}
					<h2 class="sub_title"><img src="{{ app.request.baseurl }}/asset/images/update/back-banner-titles_cenquire_n1.png" alt="" class="img-responsive tengah"></h2>
					<div class="clear height-10"></div>
					<p>Let us arrange your stay! Drop us a line by using this online form anywhere anytime!</p>
				</div>
				<div class="clear"></div>

				{# start form contact #}
						<div class="box-form tl-contact-form">
							{{ lang_message.t_contact_right_1|raw }}
							<div class="clear height-25"></div>
							{% if error|length > 0 %}
							    <div class="alert alert-danger bg-danger">
							    	<button type="button" class="close" data-dismiss="alert">&times;</button>
								    <h6>Please fix the following input errors:</h6>
								    <ul>
								    	{% for dataError in error %}
								    	<li>{{ dataError }}</li>
								    	{% endfor %}
								    </ul>
							    </div>
							{% endif %}
							<div style="max-width:500px; margin:0 auto;">
								{% if msg == 'error_message' %}
								    <div class="alert alert-danger">
								    	<button type="button" class="close" data-dismiss="alert">&times;</button>
									    Please Check Captcha for sending contact form! 
								    </div>
								{% endif %}
								{% if msg == 'success' %}
								    <div class="alert alert-success">
								    	<button type="button" class="close" data-dismiss="alert">&times;</button>
									    Thank you for contacting us! we will respond to you shortly.
								    </div>
								{% endif %}
							</div>
							<form method="post" action="" role="form">
								<div class="row default">
									<div class="col-md-6 col-sm-6">
										<div class="form-group">
										    <label class="exampleInputName">Name</label>
										    <div class="clear"></div>
										    <input type="text" name="Contact[name]" class="form-control" id="exampleInputName" required>
										</div>
									</div>
									<div class="col-md-6 col-sm-6">
										<div class="form-group">
										    <label class="exampleInputName">Email</label>
										    <div class="clear"></div>
										    <input type="text" name="Contact[email]" class="form-control" id="exampleInputName" required>
										</div>
									</div>
								</div>
								<div class="row default">
									<div class="col-md-6 col-sm-6">
										<div class="form-group">
										    <label class="exampleInputName">Telephone</label>
										    <div class="clear"></div>
										    <input type="text" name="Contact[phone]" class="form-control" id="exampleInputName" required>
										</div>
									</div>
									<div class="col-md-6 col-sm-6">
										<div class="dates_block">
											<div class="form-group">
											    <label class="exampleInputName">Date Check In</label>
											    <div class="clear"></div>
											    <input type="text" name="Contact[date_checkin]" class="form-control datepicker" required>
											</div>
											<div class="form-group">
											    <label class="exampleInputName">Date Check Out</label>
											    <div class="clear"></div>
											    <input type="text" name="Contact[date_checkout]" class="form-control datepicker" required>
											</div>
										</div>
									</div>
								</div>
								<div class="row default">
									<div class="col-md-12 col-sm-12">
										<div class="form-group">
										    <label class="exampleInputMessage">Message</label> 
										    <div class="clear"></div>
										    <div class="clear"></div>
										    <textarea name="Contact[message]" rows="3" class="form-control" required></textarea>
										</div>
									</div>
								</div>
								
								<div class="row default">
									<div class="col-md-12 col-sm-12">
										<div class="fright-inpd">
											<div class="form-group mb-0">
												<div class="fleft">
													<div class="g-recaptcha" data-sitekey="6LdBKDUUAAAAABTzV1HwwC3tx3AtzcKo5chroyHS"></div>
												</div>
												<div class="visible-xs height-10"></div>
												<div class="fright">
													<div class="clear height-2"></div>
													<button type="submit" class="btn btn-default btns-submit-bt"></button>
												</div>
												<div class="clear"></div>
											</div>
										</div>
									</div>
								</div>
								<div class="clear"></div>
							</form> 
							<div class="clear"></div>
						</div>
						{# end form contact #}
						<script src='https://www.google.com/recaptcha/api.js'></script>


				<div class="clear"></div>
			</div>
		</div>
	</section>
	{% include "/layouts/_btm_comments.twig" with { 'menu': block('menu') } %}
	<div class="clear"></div>
</div>

<!-- Modal -->
<div class="modal fade customs_modalPopup" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><img src="{{ app.request.baseurl }}/asset/images/logo_g_land-responsive.png" alt="" class="img-responsive"></h4>
      </div>
      <div class="modal-body">
        <div class="ins_modal">
        	<p><strong>Directions from Banyuwangi</strong></p>
        	<img src="{{ app.request.baseurl }}/asset/images/pict_contact_1.jpg" alt="" class="img-responsive">
        	<div class="clear height-20"></div>

			<p>From the Banyuwangi Airport to G-Land Jack&#39;s Surf Camp<br />
			Take Jl. Nasional III, Jl. Jember-Banyuwangi, Jl. Banyuwangi Jember and Jl. Raya Grajagan to Jl. Grajagan in Karetan<br />
			Continue on Jl. Grajagan and head to south east to the entrance of Alas Purwo National Park.</p>

			<p>Follow the signs at Alas Purwo to Plengkung Beach / G-Land.<br />
			Once you get to Plengkung Beach/ G-Land, find Jack&#39;s Surf Camp as the third surf camp at the end of the pathway. The location is at the climax point of surf in G-Land.</p>

			<p>Contact our staff to help you find G-Land Jack&#39;s Surf Camp and get your accommodation ready.</p>

        	<div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade customs_modalPopup" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><img src="{{ app.request.baseurl }}/asset/images/logo_g_land-responsive.png" alt="" class="img-responsive"></h4>
      </div>
      <div class="modal-body">
        <div class="ins_modal">
        	<p><strong>Directions from Bali</strong></p>
        	<img src="{{ app.request.baseurl }}/asset/images/pict_contact_2.jpg" alt="" class="img-responsive">
        	<div class="clear height-20"></div>

			<p>From Bali to G-Land Jack&#39;s Surf Camp<br />
			Book your fast boat transportation from our website</p>

			<p>Go to Benoa Harbour and take the fast boat ride, direct to G-Land Jack&#39;s Surf Camp in just 2 hours ride.<br />
			Our friendly staff will be at the G-Land to pick you up.</p>

			<p>Contact our staff to help you find G-Land Jack&#39;s Surf Camp and get your accommodation ready.</p>


        	<div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script>
  $( function() {
    $( ".datepicker" ).datepicker({ dateFormat: 'dd-mm-yy' });
  } );
  </script>
{% endblock %}
