{% extends layout %}
{% block title %}{% endblock %}
{% block menu %}homepage{% endblock %}
{% block content %}
	<section class="default_sc blocks_content" id="home_c1">
		<div class="prelatife container">
			<div class="insides text-center">

				<h3 class="s_title"><img src="{{ app.request.baseurl }}/asset/images/update/backs-banner-section1-home.png" alt="about jack’s surf camp in g-land" class="img-responsive tengah"></h3>
				{# <h3 class="s_title">about jack&rsquo;s surf camp in g-land</h3> #}
				<p><b>G-Land Jack&#39;s Surf Camp</b> is a humble and homy accommodation strategically located at the most exciting G-Land surf paradise spot, close to Bali - Indonesia. Jack&rsquo;s Surf Camp located near to the most challenging surf spot in G-Land, when others need to travel by foot for at least 20-30 minutes, surfers at Jack&rsquo;s Surf Camp can just hop in to the waves as it&rsquo;s just right infront of our place. This is one of the many reasons that Jack&rsquo;s Surf Camp in G-land is your best choice.</p>

				<div class="bottoms">
					<p><a href="{{ url('about') }}">LEARN MORE ABOUT G-LAND JACK&rsquo;S SURF CAMP</a> or <a href="javascript:;" class="fancy_video">WATCH OUR VIDEO</a> to see all the excitements.</p>
				</div>				
				<div class="clear"></div>
				<div class="banners_picture_home1 tengah prelatife">
					<a href="javascript:;" class="fancy_video">
						<!-- <img src="{{ app.request.baseurl }}/asset/images/p_home1.jpg" alt="" class="img-responsive">
						<span class="play_video"></span> -->
						<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube.com/embed/br3bWxuvEJ0' frameborder='0' allowfullscreen></iframe></div>
					</a>
					<div class="clear"></div>
				</div>
				<div class="clear height-50"></div>

				<div class="clear"></div>
			</div>
		</div>
	</section>

	<section class="default_sc backns_center_homes" id="home_c2">
		<div class="table_out">
			<div class="table_in">
				<div class="text">
					<p>&quot;The best surfer out there is the one having the most fun&quot;</p>
					<span class="name">- PHIL EDWARDS -</span>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</div>
	</section>

	<section class="full_picture prelatife">
		<img src="{{ app.request.baseurl }}/asset/images/p_home2.jpg" alt="" class="img-responsive">
	</section>

	<section class="default_sc blocks_accomodation_pack" id="home_c3">
		<div class="prelatife container">
			<div class="insides text-center">
				{# <h3 class="s_title">G-LAND ACCOMMODATION PACKAGES</h3> #}
				<h3 class="s_title"><img src="{{ app.request.baseurl }}/asset/images/update/backs-banner-section3-home.png" alt="ACCOMMODATION PACKAGES" class="img-responsive tengah"></h3>
				<p style="margin-bottom: 15px;"><b>G-Land Jack&rsquo;s Surf Camp</b> will cater to all of your needs, our packages are fully customisable. We can arrange everything for you from pickup at Bali and return to Bali or so many other alternatives, we&rsquo;re here and ready to be your guide to make your surfing adventure a memorable one!<br />
				<strong>Call our marketing staff at <span>+62 878 5485 8074</span></strong></p>
				<h3 class="s_title blue">Surf Guide is available upon request.</h3>
				<div class="clear height-25"></div>

				<div class="lists_accomodation_package">
					<div class="row default">
						<div class="col-md-4 col-sm-4">
							<div class="items">
								<div class="picture"><a href="{{ path('accomodation') }}#package1"><img src="{{ app.request.baseurl }}/asset/images/p_hotels-hm_1.jpg" alt="" class="img-responsive"></a></div>
								<div class="info">
									<a href="{{ path('accomodation') }}#package1"><span class="name">BUNGALOW</span></a>
									<p>Package starts from <b>$725</b> / 3 nights</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<div class="items">
								<div class="picture"><a href="{{ path('accomodation') }}#package2"><img src="{{ app.request.baseurl }}/asset/images/p_hotels-hm_2.jpg" alt="" class="img-responsive"></a></div>
								<div class="info">
									<a href="{{ path('accomodation') }}#package2"><span class="name">STANDARD</span></a>
									<p>Package starts from <b>$650</b> / 3 nights</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<div class="items">
								<div class="picture"><a href="{{ path('accomodation') }}#package3"><img src="{{ app.request.baseurl }}/asset/images/p_hotels-hm_3.jpg" alt="" class="img-responsive"></a></div>
								<div class="info">
									<a href="{{ path('accomodation') }}#package3"><span class="name">BUDGET</span></a>
									<p>Package starts from <b>$550</b> / 3 nights</p>
								</div>
							</div>
						</div>

					</div>
				</div>
				<!-- end list accomodation -->

				<div class="clear height-40"></div>
				<h3 class="s_title blue">what you GET WHEN PURCHASING G-LAND jack&rsquo;s surf camp ACCOMMODATION PACKAGE</h3>
				<div class="clear height-5"></div>
				<div class="lists_acomodations_icons_pack">
					<div class="row default">
						<div class="col-md-15 col-sm-4">
							<div class="items">
								<div class="picture"><img src="{{ app.request.baseurl }}/asset/images/update/ft_home_icon_1.jpg" alt="" class="img-responsive tengah"></div>
								<div class="info">
									<span>Sea fast boat transport from and back to Bali</span>
								</div>
							</div>
						</div>
						<div class="col-md-15 col-sm-4">
							<div class="items">
								<div class="picture"><img src="{{ app.request.baseurl }}/asset/images/update/ft_home_icon_2.jpg" alt="" class="img-responsive tengah"></div>
								<div class="info">
									<span>Cool and<br>comfortable rooms</span>
								</div>
							</div>
						</div>
						<div class="col-md-15 col-sm-4">
							<div class="items">
								<div class="picture"><img src="{{ app.request.baseurl }}/asset/images/update/ft_home_icon_3.jpg" alt="" class="img-responsive tengah"></div>
								<div class="info">
									<span>Beers, Softdrinks,<br>Coffees or Teas.</span>
								</div>
							</div>
						</div>
						<div class="col-md-15 col-sm-4">
							<div class="items">
								<div class="picture"><img src="{{ app.request.baseurl }}/asset/images/update/ft_home_icon_4.jpg" alt="" class="img-responsive tengah"></div>
								<div class="info">
									<span>Fabulous food<br>3 times a day</span>
								</div>
							</div>
						</div>
						<div class="col-md-15 col-sm-4">
							<div class="items">
								<div class="picture"><img src="{{ app.request.baseurl }}/asset/images/update/ft_home_icon_5.jpg" alt="" class="img-responsive tengah"></div>
								<div class="info">
									<span>Wifi, pool table<br>and ping pong!</span>
								</div>
							</div>
						</div>

					</div>
				</div>

				<div class="clear"></div>
			</div>
		</div>
		<div class="back_shadow"></div>
	</section>

	<section class="default_sc blocks_activities_nch" id="home_c4">
		<div class="prelatife container">
			<div class="insides text-center">
				<h3 class="s_title">other ACTIVITIES AT G-LAND JACK&rsquo;S SURF CAMP</h3>
				<p><b>It’s always surf time every day at the G-Land Beach!</b> <br>
But for those who want to seek more there are so much more to explore at G-land and places nearby.</p>
				<div class="clear"></div>
			</div>
		</div>
		<div class="blocks_activity_sn text-center">
			<div class="tops">
				<ul class="list-inline">
					<li class="active"><a href="#" data-id="0">PROFESSIONAL SURFING</a></li>
					<li><a href="#" data-id="1">FISHING & KAYAKING</a></li>
					<li><a href="#" data-id="2">TRAIL RUN</a></li>
					<li><a href="#" data-id="3">OFF ROAD ADVENTURE</a></li>
				</ul>
			</div>
			<div class="middles">
				<div id="carousel_fcs_activity" class="carousel fade slide_picture" >
				  <div class="carousel-inner" role="listbox">
				    <div class="item active">
				      <img src="{{ app.request.baseurl }}/asset/images/p_home3.jpg" alt="">
				    </div>
				    <div class="item">
				      <img src="{{ app.request.baseurl }}/asset/images/p_home3-2.jpg" alt="">
				    </div>
				    <div class="item">
				      <img src="{{ app.request.baseurl }}/asset/images/p_home3-3.jpg" alt="">
				    </div>
				    <div class="item">
				      <img src="{{ app.request.baseurl }}/asset/images/p_home3-4.jpg" alt="">
				    </div>
				  </div>
				</div>
				<div class="clear"></div>
			</div>

			<div class="claer"></div>
		</div>
	</section>
	<script type="text/javascript">
	$(function(){

		$('.blocks_activity_sn .tops ul li a').on('click', function(e) {
			e.preventDefault();
			$('.blocks_activity_sn .tops ul li').removeClass('active');
			$(this).parent().addClass('active');
			var s_actv = parseInt($(this).attr('data-id'));
			// $(this).index()
		    $('#carousel_fcs_activity').carousel(s_actv);
		});

	});
	</script>

	{% include "/layouts/_btm_comments.twig" with { 'menu': block('menu') } %}

	<section class="back-white backs_block_foots">
		<div class="prelatife container">
			<div class="inners">
				<div class="d-block tp_logo text-center">
					<img src="{{ app.request.baseurl }}/asset/images/bloc-tt_homesblog.jpg" alt="blog title" class="img-responsive">
				</div>
				<div class="py-4"></div>

				<div class="lists_def_blog_homes">
					<div class="row">
						{% for keys, item in lists_blog_home %}
						<div class="col-md-4">
							<div class="items text-center">
								<div class="picts">
									<a href="{{ path('ig_detail', {'id': item.id}) }}">
										<img src="{{ app.request.baseurl }}/image.php/{{ item.image }}?width=373&amp;height=373&amp;image=/admin/images/blog/{{ item.image }}" alt="" class="img-responsive">
									</a>
								</div>
								<div class="info">
									<a href="{{ path('ig_detail', {'id': item.id}) }}">
										<h5>{{ item.title|upper|raw }}</h5>
									</a>
									<p class="dates">{{ item.date_input|date("d F Y") }}</p>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
				{# end list blog home #}
				<div class="py-1 hides_mob"></div>

				<div class="d-block text-center views_n_allblog">
					<a href="{{ path('ig') }}" class="btn btn-link btns_def_surf">View All Surf Blogs</a>
				</div>

				<div class="clear"></div>
			</div>
		</div>
	</section>	
{% endblock %}