{% extends layout %}
{% block title %}Activities - {% endblock %}
{% block menu %}activity{% endblock %}
{% block content %}
<div class="outers_cont_inside_page back-white activity_page" id="inside_page">

	<h1 style="visibilty: none; display:none;">IG - {{ app_name }}</h1>

	<section class="default_sc back-white blocks_detail_activity">
		<div class="prelatife container">
			<div class="insides content-text text-center">
				{# <h4><img src="{{ app.request.baseurl }}/asset/images/update/back-banner-titles_activity_n1.png" alt="" class="img-responsive tengah"></h4>
				<div class="clear height-20"></div> #}
				<h2>{{ data.title|upper|raw }}</h2>

				<div class="clear height-35"></div>
				<div class="picture"><img src="{{ app.request.baseurl }}/admin/images/blog/{{ data.image }}" alt="" class="center-block img-responsive"></div>
				<div class="clear height-30"></div>
				{% autoescape %}
				{# {{ data.content|convert_encoding('UTF-8')|raw }} #}
				{{ data.content|raw }}
				{% endautoescape %}
				<div class="clear height-20"></div>

				<div class="claer"></div>
			</div>
		</div>
	</section>

	{# {% include "/layouts/_btm_comments.twig" with { 'menu': block('menu') } %} #}

	<div class="clear"></div>
</div>
{% endblock %}
