{% extends layout %}
{% block title %}IG - {% endblock %}
{% block menu %}ig{% endblock %}
{% block content %}
<div class="outers_cont_inside_page back-white activity_page" id="inside_page">

	<h1 style="visibilty: none; display:none;">Ig - {{ app_name }}</h1>

	<section class="default_sc back-white blocks_detail_activity">
		<div class="prelatife container">
			<div class="insides content-text text-center">
				{# <h4><img src="{{ app.request.baseurl }}/asset/images/update/back-banner-titles_activity_n1.png" alt="" class="img-responsive tengah"></h4> #}

				<div class="clear height-20"></div>
				<a href="https://wa.me/6287854858074" class="btn btn-link"><i class="fa fa-whatsapp"></i> &nbsp;Click Here for Whatsapp Chat</a>
				<div class="clear height-20"></div>

				<div class="row blocks_list_ign">
				{% for keys, item in lists_blog %}
					<div class="col-md-6 col-xs-6">
						<div class="items"><a href="{{ path('ig_detail', {'id': item.id}) }}"><img src="{{ app.request.baseurl }}/image.php/{{ item.image }}?width=600&amp;height=600&amp;image=/admin/images/blog/{{ item.image }}" alt="" class="img-responsive"></a></div>
					</div>
				{% endfor %}
				</div>


				<div class="claer"></div>
			</div>
		</div>
	</section>

	{# {% include "/layouts/_btm_comments.twig" with { 'menu': block('menu') } %} #}

	<div class="clear"></div>
</div>

<style type="text/css">
	@media screen and (max-width: 767px) {
		
		section.blocks_detail_activity.default_sc .prelatife.container{
			padding-top: 5rem;
			padding-bottom: 3rem;
		}

	}
	a.btn-link{
		color: #f5f5f5;
	}

	footer.foot > .prelatife{
		display: none;
	}
	footer.foot{
		padding-top: 0;
	}
</style>
{% endblock %}
