<p>Thank you for booking accomodation package! we will respond to you shortly.</p>
<table>
	<tr>
		<td>Name</td>
		<td>:</td>
		<td>{{ data.name }}</td>
	</tr>
	<tr>
		<td>Email</td>
		<td>:</td>
		<td>{{ data.email }}</td>
	</tr>
	<tr>
		<td>Phone</td>
		<td>:</td>
		<td>{{ data.phone }}</td>
	</tr>
	<tr>
		<td>Check In Date</td>
		<td>:</td>
		<td>{{ data.date_checkin }}</td>
	</tr>
	<tr>
		<td>Checkout In Date</td>
		<td>:</td>
		<td>{{ data.date_checkout }}</td>
	</tr>
	<tr>
		<td>Room Type</td>
		<td>:</td>
		<td>{{ data.book_room }}</td>
	</tr>
	<tr>
		<td>Number of Guest</td>
		<td>:</td>
		<td>{{ data.guest }}</td>
	</tr>
	<tr>
		<td>Company</td>
		<td>:</td>
		<td>{{ data.company }}</td>
	</tr>
	<tr>
		<td>Message</td>
		<td>:</td>
		<td>{{ data.message }}</td>
	</tr>
</table>

<p>Copyright &copy; 2017.</p>