{% extends layout %}
{% block title %}{{ lang_message.MARKETS|raw|title }} - {% endblock %}
{% block menu %}market{% endblock %}
{% block content %}
<div class="outers_cont_inside_page back-white">

	<h1 style="visibilty: none; display:none;">{{ lang_message.MARKETS|raw }} - {{ app_name }}</h1>
	<div class="insides_toppage_blocks">
		<div class="blocks_bottom_intop_page pg_market">
			<div class="insides">
				<div class="blocks_top_ill">
					<h2 class="title_page">{{ lang_message.MARKETS|raw|title }}</h2>
					<div class="clear"></div>
					<p>PT. Tiga Rasa Indonesia&rsquo;s solid network of logistic and distribution<br>smade us one of the market leader in Indonesia and world wide.</p>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	
	<section class="default_sc insides_pg_contents_about1" id="content_p_about1">
		<div class="top_greys_sub">
			<h5 class="s_title">HOME / {{ lang_message.MARKETS|raw }}</h5>
		</div>
		<div class="container prelatife">
			<div class="content-text text-center maw1011 tengah">
				<img src="{{ app.request.baseurl }}/asset/images/pictsn_1_dmarkets.png" alt="" class="img-responsive center-block">
				<div class="clear height-40"></div>
				<h6>Melalui jaringan distribusi kami yang kuat dan telah terbentuk sejak awal tahun 80&#39;an hingga kini, PT. Tiga Rasa dapat melakukan supply spices dan commodities ke Eropa, Timur Tengah dan Asia.</h6>
				<p>One of our advtantage in the markdesign distribution lies on our ability to manage the multi modal transpotation requirements requirements of our business. This ensure that we remain competitive and flexible to meet our client&#39;s requirements, no matter how complex they are. If you need more information or have any question about Logistic &amp; Shipping please contact us.</p>
				<div class="clear"></div>
			</div>
		</div>
	</section>

	<section class="default_sc backs_bottoms_homeGreen maps_t_lefts" id="mapsn">
		<div class="prelatife container">
			<div class="insn_conten_table">
				<div class="row">
					<div class="col-md-6"></div>
					<div class="col-md-6">
						<h3 class="sub_title"><b>World Wide Market Coverage</b></h3>
						<p>PT. Tiga Rasa Indonesia supplies to trade anywhere in the world, where our current customers include bulk importers, restaurants, health food shops, market traders, brewers, seasoning blenders and many more!</p>
						<p>We aim to be recognised as a leading provider of indemnity insurance and related services to the healthcare sector across Australia, providing confidence through professional service, personal care and superior insurance and risk management products.</p>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="background_rs"></div>
	</section>

	<section class="default_sc backs_bottoms_homeGreen maps_t_rights" id="mapsn">
		<div class="prelatife container">
			<div class="insn_conten_table">
				<div class="row">
					<div class="col-md-6">
						<h3 class="sub_title"><b>Indonesia Market Coverage</b></h3>
						<p>PT. Tiga Rasa Indonesia supplies to trade anywhere in the world, where our current customers include bulk importers, restaurants, health food shops, market traders, brewers, seasoning blenders and many more!</p>
						<p>We aim to be recognised as a leading provider of indemnity insurance and related services to the healthcare sector across Australia, providing confidence through professional service, personal care and superior insurance and risk management products.</p>
					</div>
					<div class="col-md-6"></div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="background_rs"></div>
	</section>

	<section class="default_sc backs_bottomMarkets_prdn">
		<div class="prelatife container">
			<h6>PT. TIGA RASA product specialties in the world wide market</h6>

			<div class="box_lists_market padding-top-30">
				<div class="block_lists_tPrd-home">
								<div id="owl-demo" class="row owl-carousel owl-theme">
									<div class="col-md-12 item">
										<div class="items">
											<div class="picture">
												<a href="#"><img src="{{ app.request.baseurl }}/asset/images/dn_item-1.png" alt="" class="img-responsive"></a>
											</div>
											<div class="infos">
												<a href="#"><span class="names">Candle Nut</span></a>
												<div class="clear"></div>
											</div>
										</div>
									</div>
									<div class="col-md-12 item">
										<div class="items">
											<div class="picture">
												<a href="#"><img src="{{ app.request.baseurl }}/asset/images/dn_item-2.png" alt="" class="img-responsive"></a>
											</div>
											<div class="infos">
												<a href="#"><span class="names">Tamarind</span></a>
												<div class="clear"></div>
											</div>
										</div>
									</div>
									<div class="col-md-12 item">
										<div class="items">
											<div class="picture">
												<a href="#"><img src="{{ app.request.baseurl }}/asset/images/dn_item-3.png" alt="" class="img-responsive"></a>
											</div>
											<div class="infos">
												<a href="#"><span class="names">Corriander</span></a>
												<div class="clear"></div>
											</div>
										</div>
									</div>
									<div class="col-md-12 item">
										<div class="items">
											<div class="picture">
												<a href="#"><img src="{{ app.request.baseurl }}/asset/images/dn_item-4.png" alt="" class="img-responsive"></a>
											</div>
											<div class="infos">
												<a href="#"><span class="names">Ground Nuts</span></a>
												<div class="clear"></div>
											</div>
										</div>
									</div>
									<div class="col-md-12 item">
										<div class="items">
											<div class="picture">
												<a href="#"><img src="{{ app.request.baseurl }}/asset/images/dn_item-5.png" alt="" class="img-responsive"></a>
											</div>
											<div class="infos">
												<a href="#"><span class="names">Green Beans</span></a>
												<div class="clear"></div>
											</div>
										</div>
									</div>
									<div class="col-md-12 item">
										<div class="items">
											<div class="picture">
												<a href="#"><img src="{{ app.request.baseurl }}/asset/images/dn_item-6.png" alt="" class="img-responsive"></a>
											</div>
											<div class="infos">
												<a href="#"><span class="names">Dry Chilli</span></a>
												<div class="clear"></div>
											</div>
										</div>
									</div>
									<div class="col-md-12 item">
										<div class="items">
											<div class="picture">
												<a href="#"><img src="{{ app.request.baseurl }}/asset/images/dn_item-6.png" alt="" class="img-responsive"></a>
											</div>
											<div class="infos">
												<a href="#"><span class="names">Dry Chilli</span></a>
												<div class="clear"></div>
											</div>
										</div>
									</div>
									<div class="col-md-12 item">
										<div class="items">
											<div class="picture">
												<a href="#"><img src="{{ app.request.baseurl }}/asset/images/dn_item-6.png" alt="" class="img-responsive"></a>
											</div>
											<div class="infos">
												<a href="#"><span class="names">Dry Chilli</span></a>
												<div class="clear"></div>
											</div>
										</div>
									</div>

								</div>
								
							</div>
							<!-- End list special Promo -->
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
	</section>
	
	<div class="clear"></div>
</div>



<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js" type="text/javascript"></script>

<script type="text/javascript">
// $.noConflict();
$(document).ready(function() {
  var owl = $("#owl-demo, #owl-demo2");
 
  owl.owlCarousel({
      items : 6, //10 items above 1000px browser width
      itemsDesktop : [1000, 6], //5 items between 1000px and 901px
      itemsDesktopSmall : [900, 4], // betweem 900px and 601px
      itemsTablet: [768, 4], //2 items between 600 and 0
      itemsMobile : [600, 2], // itemsMobile disabled - inherit from itemsTablet option
  	  pagination: true,
  	  paginationNumbers: true
  });

  $(".play").click(function(){
    owl.trigger('owl.play',1000); //owl.play event accept autoPlay speed as second parameter
  })

});
</script>
<style type="text/css">
  .owl-carousel .owl-wrapper-outer{
    width: 99.6%;
  }
</style>
{% endblock %}