{% extends layout %}
{% block title %}{{ lang_message.INDONESIAN_SPICES|title|raw }} - {% endblock %}
{% block menu %}product{% endblock %}
{% block content %}
<div class="outers_cont_inside_page back-white">

	<h1 style="visibilty: none; display:none;">{{ lang_message.INDONESIAN_SPICES|raw }} - {{ app_name }}</h1>
	<div class="insides_toppage_blocks">
		<div class="blocks_bottom_intop_page pg_product">
			<div class="insides">
				<div class="blocks_top_ill">
					<h2 class="title_page">{{ lang_message.INDONESIAN_SPICES|title|raw }}</h2>
					<div class="clear"></div>
					<p>Only the hand picked - selected quality commodity products<br>that we may present to our customers</p>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	
	<section class="default_sc insides_pg_contents_about1" id="content_p_about1">
		<div class="top_greys_sub">
			<h5 class="s_title">HOME / {{ lang_message.INDONESIAN_SPICES|raw }}</h5>
		</div>
		<div class="container prelatife">
			<div class="clear height-40"></div>
			<div class="content-text text-center tengah">

				<div class="lists_default_products_dtn">
					<div class="row default">
						{% for key, items in lists_product %}
						<div class="col-md-3 col-sm-6">
							<div class="items text-center">
								<div class="pictures prelatife">
									<a href="javascript:;" class="calls_modal" role="button" data-toggle="modal" data-target="#myModal" data-titles="{{ items.title|upper }}" data-images="{{ app.request.baseurl }}/asset/images/product/{{ items.pict_big }}"><img src="{{ app.request.baseurl }}/asset/images/product/{{ items.pict }}" alt="" class="img-responsive center-block"></a>
									<div class="posn_ab_btmright"><a href="#"><i class="fa fa-search"></i></a></div>
								</div>
								<div class="description">
									<a href="javascript:;" class="calls_modal" role="button" data-toggle="modal" data-target="#myModal" data-titles="{{ items.title|upper }}" data-images="{{ app.request.baseurl }}/asset/images/product/{{ items.pict_big }}"><span class="s_title">{{ items.title|upper }}</span></a>
									<div class="clear"></div>
									<p>Short description about the product here, can be an explanation of grade or size of the product.</p>
									<a href="javascript:;" class="calls_modal mores_btn btn btn-link" role="button" data-toggle="modal" data-target="#myModal" data-titles="{{ items.title|upper }}" data-images="{{ app.request.baseurl }}/asset/images/product/{{ items.pict_big }}">ENQUIRE PRODUCT</a>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
					<div class="clear"></div>
				</div>

				<div class="clear"></div>
			</div>
		</div>
	</section>	
	<div class="clear"></div>
</div>

<!-- Modal -->
<div class="modal fade customs_modalPopup" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
            <div class="modal-body">
        <div class="ins_modal">
        	<div class="row">
        		<div class="col-md-6 col-sm-6">
        			<div class="picts">
        				<img src="" alt="" class="img-responsive">
        			</div>
        			<div class="clear"></div>
        		</div>
        		<div class="col-md-6 col-sm-6">
        			<div class="tops_title">MULTI COLOR GRAVEL</div>
        			<span>INQUIRE THIS PRODUCT</span>
        			<div class="clear"></div>
        			<form class="form-horizontal" action="" method="POST">
					  <div class="form-group">
					    <label for="inputEmail3" class="col-sm-3 control-label">Name</label>
					    <div class="col-sm-9">
					      <input type="text" class="form-control" id="inputEmail3" name="Inquire[name]" >
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputEmail4" class="col-sm-3 control-label">Phone</label>
					    <div class="col-sm-9">
					      <input type="text" class="form-control" id="inputEmail4" name="Inquire[phone]" >
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputEmail5" class="col-sm-3 control-label">Email</label>
					    <div class="col-sm-9">
					      <input type="text" class="form-control" id="inputEmail5" name="Inquire[email]" >
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputEmail6" class="col-sm-3 control-label">Message</label>
					    <div class="col-sm-9">
					      <textarea name="Inquire[message]" id="" rows="5" class="form-control"></textarea>
					    </div>
					  </div>
					  <input type="hidden" name="Inquire[product]" value="multi color gravel">
					  <div class="form-group">
					    <div class="col-sm-offset-3 col-sm-9">
					      <div style="float:right;" class="g-recaptcha" data-sitekey="6LeV3SMUAAAAAPC5O5BRf_D6hsL0ec8ZDeLFw4wT"></div>
					      <script src='https://www.google.com/recaptcha/api.js'></script>
					    </div>
					  </div>

					  <div class="form-group">
					    <div class="col-sm-offset-3 col-sm-9">
					      <button type="submit" class="btn btn-default">INQUIRE THIS PRODUCT</button>
					    </div>
					  </div>
					</form>
        			<div class="clear"></div>
        		</div>
        	</div>
        	<div class="clear"></div>
        </div>
      </div>

    </div>
  </div>
</div>

<script type="text/javascript">
	$(function(){
		$('a.calls_modal').live('click', function(){
			var n_titles = $(this).attr('data-titles');
			var n_images = $(this).attr('data-images');

			$('.customs_modalPopup .ins_modal .picts img').attr('src', n_images);
			$('.customs_modalPopup .ins_modal .tops_title').text(n_titles);
		});
	});
</script>
{% endblock %}
